[2014-12-28 10:21] akiran opened #1 "dependence of slide demos on <!DOCTYPE html>"
If we forgot to add <!DOCTYPE html> in markup, slide demos are getting miss aligned
and there is huge space between slides and dots.

Need to debug this .

[2015-01-18 07:07] mataps opened #2 "Dependency issues"
Not very easy to use, I had to add ``webpack jsx loaders`` and edit ``after-transition component``. It's just to lengthy process and destructable edits to make this work.

[2015-01-18 11:17] akiran commented on #2
I cleaned up some of the issues.

Setting up react-slick requires some steps like copying fonts and css from slick-carousel and building jsx etc. I hope you are using tools like gulpjs or gruntjs

I created a yeoman generator which helps you in setting up quickly
https://github.com/akiran/generator-react-slick

Let me know if it helps

[2015-01-18 16:10] akiran commented on #2
after-transition component is no longer needed with latest version of react-slick

[2015-01-20 23:31] mingfang opened #3 "How do I actually use this?"
The example on the github page does not even compiler due to this ```...{setting}```.
I can't fine the react-slider.js anyway but managed to cut and paste it from ```http://webrafter.com/opensource/react-slick``` by viewing the source.
But even then, I'm getting this error at runtime
``` Uncaught ReferenceError: webpackJsonp is not definedreact-slick.js:1 (anonymous function)```

[2015-01-21 02:53] akiran commented on #3
As of now you have to use a build tool like browserify or webpack.
This [yeoman generator](https://github.com/akiran/generator-react-slick.git) help you setup quickly.

{...settings} is es6 feature and require react 0.12
If you are using jsx loader add harmony flag and if you are using reactify add {es6: true}  to your browserify config

I am not providing react-slider.js because it is a good prac

[2015-01-21 02:58] mingfang commented on #3
Thanks for the response.
Unfortunately I'm a server guy and do not know anything about front end stacks, therefore I have not idea what to do next.
Take jquery.js for example.
I'm able to just point to it using a ```script``` tag and use it straight away, without having to build it.
That seems much for user friendly.
Closing since it appears to work for you.

[2015-01-21 02:58] #3 closed

[2015-01-21 04:16] akiran commented on #3
If you work on server (Java, ruby or python etc) you must be already familiar with module system.
Same sort of module system can be used Javascript.

Jquery uses globals because at the time of its creation there was no module system and build tools
Now javascript is maturing and borrowing ideas like module system from server side languages like python, ruby.

I haven't provided bundled packages be

[2015-02-07 05:35] akiran commented on #2
Added standalone built files (dist folder) in the latest release.

[2015-02-07 05:35] #2 closed

[2015-02-09 20:37] tbo opened #4 "Make react a peer dependency"
The react dependency should be put to the peerDependency segment of the packages.json. Projects with different react versions cannot use this lib:
http://blog.nodejs.org/2013/02/07/peer-dependencies/

[2015-02-10 23:00] stevemckenzie opened #5 "Dragging can break the carousel."
I'm using the latest version of Chrome and can reproduce this in the example.

Slide or drag forward a few items, then drag back. If you attempt to drag when its already easing back into place after a previous drag, you can cause the items to get stuck and dragging no longer has easing. If you attempt to use the buttons at this point they will not work. Refreshing the page seems to be the only way

[2015-02-10 23:05] stevemckenzie commented on #5
Actually you can reproduce this by just being a bit aggressive with your dragging. Doesn't matter which way you go.

[2015-02-11 00:22] stevemckenzie opened #6 "Dragging can't actually be disabled."
You have a props.draggable but it's never actually used anywhere.

[2015-02-11 02:18] akiran opened #7 "Include only necessary methods in lodash"
As of now, whole lodash module is imported.
Import only necessary methods to reduce file size.

[2015-02-11 02:20] akiran commented on #4
@tbo, Moved react to peer dependency.

[2015-02-11 02:20] #4 closed

[2015-02-11 02:28] akiran commented on #5
@stevemckenzie ,  I was able to replicate this bug.
I will fix it soon.

[2015-02-11 06:33] akiran commented on #6
Fixed this in commit 837466b02a744ae4b9e723f440379b861c379c1f

swipe = false, will disable swipe or dragging feature on both mobile and desktop.
swipe = true & draggable = false will disable dragging on desktop devices and swipe works on mobile.

[2015-02-11 06:33] #6 closed

[2015-02-11 07:08] akiran commented on #5
@stevemckenzie  Thanks for reporting bugs.

Fixed #5 and #6 issues and made a npm release 0.3.1.

[2015-02-11 07:08] #5 closed

[2015-02-11 15:38] stevemckenzie commented on #5
Thanks @akiran !

[2015-02-14 05:06] #7 closed

[2015-02-17 08:52] mfclarke opened #11 "How to build correctly"
Hi,

I'm relatively new to React so this might be a stupid question, but I can't get react-slick to compile/build.

I installed with `npm install react-slick` and `bower install slick-carousel`. I've successfully installed other node components, and never had to do anything more than `npm install <component>`

I'm using gulp to build, which in turn uses webpack to build the js/jsx. The error is as

[2015-02-17 08:58] akiran commented on #11
Which version of react are you using ?
For react 0.12,   /** @jsx React.DOM */ is not required.

react-slick requires react 0.12

[2015-02-17 09:27] mfclarke commented on #11
My package.json lists `"react": "^0.12.1",`

[2015-02-17 10:06] akiran commented on #11
@mfclarke react-slick uses es6/harmony features.
you have to use harmony flag with jsx loader
[code]

[2015-02-17 13:54] mfclarke commented on #11
Unfortunately that hasn't fixed it. Is there somewhere else I need to specify es6/harmony?

[2015-02-17 14:11] akiran commented on #11
You webpack config seem ok. I couldn't find the problem.

Are you seeing this error only when you import react-slick ?

Can you try babel-loader instead of jsx-loader  and see if it works ?

On Tue, Feb 17, 2015 at 7:24 PM, Maximilian Clarke <notifications@github.com

[2015-02-17 15:44] akiran commented on #11
I added umd wrapper to dist files and made release now (0.3.2)

If you still have issues with build, you can use pre-bundled file

var react = require('react'); // This should be before importing slick
var Slider = require('react-slick/dist/react-slick);

[2015-02-17 18:04] mfclarke commented on #11
Yep, the error only happens if I import react-slick

babel-loader seems to work, thanks!

[2015-02-18 10:26] #11 closed

[2015-02-18 12:05] jmgarciamari opened #13 "Carousel breaks if I Click on one image"
I'm trying it with demo page and I can drag but if I click on one of images suddenly dragging is disabled, dots don't respond.

[2015-02-18 12:07] jmgarciamari opened #14 "include css and fonts files"
How I can to include css and fonts files in my react-project?There Are on node_modules, I think. But I don't know how to include them.

Thanks

[2015-02-18 12:50] akiran commented on #14
you should use slick carousel for slick-carousel
[code]
or link to cdn version
https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.3.15/slick.css

[2015-02-18 12:52] akiran commented on #13
can you post your demo code snippet ?

[2015-02-18 13:33] jmgarciamari commented on #13
emmm I try it in this web http://webrafter.com/opensource/react-slick and if I click one element dragging is disabled, seems like #5 issue but with the click event, sorry for my English

[2015-02-18 13:48] akiran commented on #13
#5 issue is fixed. I don't see that issue on demo page.

Can you point me to the element which is causing problem with click?
Which browser and device are you using ?

[2015-02-18 14:51] jmgarciamari commented on #13
I'm using chrome with linux and chrome on android. And whatever of elements
cause this problem. I'm stuck because i want a callback when I click an
element, but if dragging is disabled for me when I click I have a problem.
El 18/2/2015 14:48, "Kiran Abburi" <notifications@github.com> escribió:

[2015-02-18 15:15] akiran commented on #13
Yes,  Now  I could see the issue.
I will fix it soon.

[2015-02-18 15:16] #14 closed

[2015-02-18 15:56] akiran commented on #13
Fixed this issue and made a new npm release (0.3.4)

Thanks for reporting issue.

[2015-02-19 01:39] #13 closed

[2015-02-19 09:43] jmgarciamari commented on #13
thanks a lot! Now Works Great!!

[2015-02-19 12:05] jmgarciamari opened #15 "InitialSlide"
Are InitialSlide enabled? I need it, is on defaultProps but I don't know if there is implemented.

[2015-02-19 12:14] akiran commented on #15
Not yet implemented. I will do it soon

[2015-02-19 12:25] jmgarciamari commented on #15
;) Ok Thanks a lot

[2015-02-19 13:15] flowdee opened #16 "customPaging"
Do you think about integrating Slick's **customPaging** functionality?

This would be great! :thumbsup:

[2015-02-19 13:27] akiran commented on #16
Yes, I will try to implement it this weekend.

or If possible, can you try to implement and submit a pull request

[2015-02-19 13:37] flowdee commented on #16
Thanks for your quick reply akiran. Would be awesome if you implement this as soon as possible!

[2015-02-19 13:37] akiran commented on #16
ok

[2015-02-22 17:31] PapaMufflon commented on #15
:+1:

[2015-02-23 08:41] flowdee commented on #16
Any updates here @akiran ? Did you find time to test the implementation yet?

[2015-02-24 13:03] steroberts89 commented on #15
I've submitted a pull request which adds this functionality in

[2015-02-24 17:40] steroberts89 opened #19 "Only able to slide when an animation has completed?"
Hey

I've noticed that the navigation buttons only work when the animating state is false, does anyone know the reasoning behind this? you can see what I mean [here](https://github.com/akiran/react-slick/blob/master/lib/mixins/helpers.js#L164)

I've disabled in In my usage by doing this (logic was copied from the further if statement 4 lines down)

[code]

Is this by design or is there another rea

[2015-02-24 19:51] eriklharper opened #20 "Reactify dependency missing from your package.json"
Attempting to use your react-slick component and I'm getting a build error, that looks to be because you don't specify "reactify" as a dependency anywhere in your package.json even though you're using it as a browserify transform.  You must have it installed locally, but just forgot to commit that to the package.json?

[code]

[2015-02-25 12:47] #15 closed

[2015-02-25 12:52] akiran commented on #19
@steroberts89,  This is by design.

Original slick carousel does the same thing https://github.com/kenwheeler/slick/blob/master/slick/slick.js#L1728

[2015-02-25 12:55] akiran commented on #19
Do you have a usecase where you need this ?

[2015-02-25 12:59] akiran commented on #20
Fixed it

[2015-02-25 13:00] steroberts89 commented on #19
Yeah,

so we're using it for displaying various prices/days of flights for instance with the slider operating in centre mode, and the centred item is the item which is being displayed in further details (hence my pull request yesterday for me to get the index out!)

We're displaying 3 prices at a time, and if the user say wants scroll through all the options, they have to wait for the animation to

[2015-02-25 13:35] akiran commented on #19
Yes, We should fix it then.

slick-carousel has a waitForAnimate option which is not implemented in the react-slick yet.
This address your issue.
waitForAnimate = true, buttons work only  after animation completion
waitForAnimate = false, buttons work before animation completion as well.

[2015-02-27 00:54] ecurtis opened #21 "Animating Slide Position"
I have a working react-slick slider, and I can change the state of the initialSlide and affect change, however that results in a re-render instead of animating to the new slide position.

Is there a recommended way to duplicate the slickGoTo functionality from a react component?

[2015-02-27 01:31] grydstedt opened #22 "Centered item"
Hi, thanks for the great port.

When I'm using centerMode, with slidesToShow: 5, slidesToScroll: 1, I'm seeing the fourth item selected. Is that working as intended?

![screen shot 2015-02-26 at 5 28 26 pm](https://cloud.githubusercontent.com/assets/782394/6405831/3ef3bdd4-bddd-11e4-9151-4449bc590ac6.png)

[2015-02-27 04:33] grrowl commented on #1
Sounds like Quirks mode in IE or Firefox, it may be mismatching a default `box-sizing` value (`border-box` vs `content-box`)

[2015-02-27 13:05] edygar opened #23 "fade Option"
Is there any plan to support `fade` option any soon?

[2015-02-27 13:32] akiran commented on #23
yes

On Fri, Feb 27, 2015 at 6:35 PM, Edygar de Lima Oliveira <
notifications@github.com> wrote:

[2015-03-03 00:09] grrowl opened #24 "require('react') may resolve to react-slick's local bower_components/react"
in my webpack.config.js I have:
[code]

Which means the `require('react');` within react-slick.js resolves `react` to the react.js in its `bower_components` directory, and fails within React's `findComponentRoot` on (compiled) line 11563: `firstChildren[0] = deepestAncestor.firstChild;`.

The issue is that when -slick intitialises, React looks for the root node, which is generated by a *different*

[2015-03-03 00:17] grrowl commented on #24
**tl;dr:** The existence of `bower_components` in the `node_modules/react-slick/` directory may affect webpack's module resolution and use the bundled `React`, which is different from the one which rendered the page, causing a fatal error.

[2015-03-04 06:03] grrowl opened #25 "iOS: Can only swipe once, doesn't transition (state.animating locks to true)"
The problem is from line 203 of `lib/mixins/helpers.js`

[code]

For whatever reason iOS doesn't get the css `transition` class (either not in time or doesn't support?), therefore the `ReactTransitionEvents.addEndEventListener` never fires and `animating` is stuck to `true`, which blocks subsequent actions.

[2015-03-04 06:09] akiran commented on #25
Thanks for posting the issue.

This week I am little busy. I will fix all the pending issues of react-slick next week.

[2015-03-04 06:15] grrowl commented on #25
No worries, I'm applying little workarounds to my local build (in this case, commenting out the line `animating: true` :sweat_smile:).

Also, here's a repro video: https://www.dropbox.com/s/uzesxuacxur7qnc/react-slick-ios.mov?dl=0

[2015-03-04 19:55] mhuebert opened #27 "Hook for re-layout"
The CSS for .slick-slide specifies a height of 100%, which causes images in my slides to be stretched out of proportion, depending how the browser window is sized. If I take off the height property, it works fine sometimes, but often re-renders at a 1px height. If there was a way for me to tell the component to re-calculate its size, I would first of all use this to calculate the size after the in

[2015-03-05 00:44] grrowl commented on #25
Confirmed the `transition` class doesn't get applied in time. (adding a permanent `transition: transform;` works as expected.

also, this issue causes `afterChange()` not to fire on iOS at all.

[2015-03-05 02:45] akiran commented on #25
Thanks, I will review this.

[2015-03-10 18:34] ryanbagwell commented on #24
I'm having a similar issue. package.json has a postistall script, which is trying to call "bower install," except bower isn't listed as a dependency.

I'm wondering why you need bower at all here? Can't you just include all of the bower packages in package.json?

[2015-03-11 03:26] akiran commented on #24
removed the dependency on bower and added slick-carousel as a npm dependency.

Released 0.3.7 on npm with change.
Check if your issues got resolved.

[2015-03-11 16:14] ryanbagwell commented on #24
@akiran this worked great. Thanks for the fix and thanks for the app.

[2015-03-11 16:48] #24 closed

[2015-03-11 23:03] grrowl commented on #24
:+1: works for me!

[2015-03-18 23:49] yuzeh opened #29 "Correct spacing not added when child elements are React Components"
Thanks for this library!

I tried initializing a `<Slider>` with a user defined React component as children, the proper spacing between elements to satisfy `slidesToShow` and `slidesToScroll` is not set. However, when I "inline" these elements, things work great.

Example code that doesn't work properly:
[code]

Example code that works properly:
[code]

Is this a known problem, and if so is there

[2015-03-19 03:02] akiran commented on #29
Both should work.
Let me test it

[2015-03-19 17:41] yuzeh commented on #29
So it looks like css `width` is not getting assigned to the items if the root element of the item is a React component.

Current workaround is wrapping the component in a `div`.

[2015-03-19 18:20] kriswallsmith commented on #25
I'm seeing this issue also and may not be able to use this module because of it… shame because it's great work otherwise!

[2015-03-20 03:09] akiran commented on #29
@yuzeh

children of slider component to adjust  styles and class names based on intreractions
https://github.com/akiran/react-slick/blob/master/lib/inner-slider.jsx#L57-62

In this case, style and classnames are applied to react components instead of html elements.

Your work around is one way to fix this.

Other way would be to pass props to div inside component (I haven't tested it though)
[code

[2015-03-20 03:54] grrowl commented on #25
If you're okay with transitions not working on iPhone (but otherwise functional), you can add [my fork](https://github.com/grrowl/react-slick/tree/bugfixes-and-bowerless) to your package.json:
`  "react-slick": "grrowl/react-slick#bugfixes-and-bowerless",`

[2015-03-20 04:15] akiran commented on #25
If animating state is stuck to true, then for some reason callback attached to transition event is not called.

[2015-03-20 04:22] grrowl commented on #25
That's the fix, in the fork we skip setting `state.animating` to true, so it doesn't matter is the callback is fired or not. I haven't noticed any drawbacks (apart from the effect being kinda kludgy on iOS)

Really, the proper fix would set the css `transition` property, wait 16ms, then set the css for position. That way, it'll transition as expected, then fire the transitionEnd event, and everyth

[2015-03-20 04:45] akiran commented on #25
I will spend some time today on this issue and fix it properly.

Is this specific to iOS

[2015-03-20 17:53] yuzeh commented on #25
Yep. From a user's perspective, the library works great on Android Chrome, but definitely does not work on iOS.

[2015-03-21 04:46] FarmerKing commented on #25
The issue also happens on WindowsPhone.

[2015-03-23 16:01] akiran commented on #25
This looks like a hard to debug bug. I couldn't understand why transition event in not fired on iOS.

For now, I added setTimeout to disable animation after specified time
https://github.com/akiran/react-slick/blob/master/lib/mixins/helpers.js#L222
This will make sure that slider is not stuck after first swipe.

But it still misses animation effect on iOS.  I will try and fix this as soon as possi

[2015-03-25 07:16] grrowl commented on #25
The hint lay in [this stackoverflow post](http://stackoverflow.com/a/26147664/894361): the main takeaway is "Safari has no idea and follows no spec".

Turns out, the root cause was that it applied `-webkit-transform` but the `transition` value pointed to unprefixed `transform`. Additionally, it won't accept `transition` properties with comma-separated values (such as saying "transition `-webkit-tr

[2015-03-25 08:17] akiran commented on #25
@kriswallsmith, This issue on iOS is fixed by @grrowl in #35 pull request.

[2015-03-27 03:26] rockymadden commented on #16
@flowdee and @akiran, see https://github.com/akiran/react-slick/pull/36

[2015-03-27 07:31] flowdee commented on #16
thanks

[2015-03-27 08:11] akiran commented on #16
@rockymadden  Thanks for the pull request.
I will review it and merge soon

[2015-04-07 00:13] merlinf14b opened #38 "Click Events on Child Items Not Firing - iOS (Desktop Browsers working as intended)"
Slider portion works great, but any buttons that are within the panes are having their click events trapped.  I attempted to turn off the swipe detection, but that also didn't allow clicks to go through.  Any thoughts?
[code]

[2015-04-10 05:21] StevenIseki opened #39 "have an issue using react-slick with Gulp TypeError: Object reactify,[object Object] has no method 'match'"
I was trying to use react-slick and ran into the following issue trying to use it with the reactify transform using browserify.

TypeError: Object reactify,[object Object] has no method 'match'

Here is my gulpfile: I was using gulp-browserify which could be the issue. I am going to try using it with vinyl-source-stream as I know this is the correct way to use browserify with gulp, and will report

[2015-04-13 22:05] jdsharp commented on #27
I hacked this by using the `className` setting and putting in an arbitrary class (such as 'foobar-1', if neeeded you can have it increment/change foobar-1 to foobar-2, etc.)

[2015-04-14 23:19] grrowl commented on #27
I hacked this with a static height and setting size of the slides by using viewport-width units:

[code]

You can also lean on the `onChange` callback to recalc position if you need (and set via className or setState)

[2015-04-26 14:04] haohcraft commented on #38
Ran into the same issue

[2015-04-26 14:10] haohcraft commented on #38
Related to https://github.com/kenwheeler/slick/issues/412

if we upgrade the slick version we are using here, it would fix

[2015-04-30 20:54] lewismoten opened #40 "TypeError: Cannot read property 'hasOwnProperty' of undefined"
I'm having trouble getting the library to work with the examples provided. I get the following:

[code]

This only happens when the slider component has content. Returning the slider without children does not raise the error.

[code]

I am using:
* React v0.13.2
* React-Slick v0.3.1
* Slick-Carousel v1.5.2

[2015-04-30 22:30] lewismoten commented on #40
I've tracked down part of the problem. It appears that there is a difference between the development and production versions of React itself. React-Slick appears to only have problems with the non-minified version of React.

[code]

[2015-05-04 22:40] golmansax opened #41 "Repo not registered with bower?"
I searched on Bower and couldn't find `react-slick`.  http://bower.io/search/?q=react-slick

[2015-05-04 23:30] paulwehner opened #42 "<error> ReactElementExtended.js:30 - Module isn't working for me"
When I integrate this module into my project I get the following error in Chrome's console:

    <error>ReactElement.createElement @ ReactElementExtended.js:30ReactElementValidator.createElement @ ReactElementValidator.js:396React.createClass.render @ Slider.js:26ReactCompositeComponentMixin._renderValidatedComponentWithoutOwnerOrContext @ ReactCompositeComponent.js:775ReactCompositeComponentMixin

[2015-05-05 14:07] #42 closed

[2015-05-05 16:29] mattjstar opened #43 "Support for lazyLoad?"
I noticed you commented out lazyLoad in default-props.js. Will there be support for this in the future?

Thanks!

[2015-05-05 17:19] akiran commented on #43
yes

[2015-05-05 19:10] paulwehner opened #44 "yeoman generator doesn't work. see latest issue. no demo app."
It would be great if there was a demo with corresponding CSS to help get started. Yeoman Generator isn't working for me. There isn't a demo folder with a webpack config you can just run.

[2015-05-05 19:23] paulwehner opened #45 "running "npm install" in home directory produces error"
I get the following output when trying to run "npm install" in the react-slick directory:

    Binary downloaded and installed at /Users/paulme/Google Drive/Development/Awfbeat/MVM/dev_website/react/node/mvm-react-radium/node_modules/react-slick/node_modules/sass-loader/node_modules/node-sass/vendor/darwin-x64/binding.node

    `darwin-x64` exists; testing
    module.js:355
      Module._extension

[2015-05-05 19:31] paulwehner opened #46 "Rendering the component provided in the directions doesn't result in a slider."
Following the directions and running the following commands:

    npm install react-slick

    bower install slick-carousel

I then drop in the example component into my project:

    var React = require('react');
    var Slider = require('react-slick');

    var SimpleSlider = React.createClass({
      render: function () {
        var settings = {
          dots: true,
          infinite: true,

[2015-05-05 19:40] colindresj opened #47 "asNavFor"
Is there support for syncing carousels like in the original slick?

[2015-05-06 02:28] akiran commented on #46
Have you added the css link in your html ?

[2015-05-06 02:33] akiran commented on #45
I clonned this repo freshly, and ran `npm install`
It worked fine for me.  Can you check if there is anything wrong with your setup

[2015-05-06 03:48] mdaverde opened #48 "Make use of Slick methods"
[Slick](http://kenwheeler.github.io/slick/) has a list of several methods we can use to programmatically control the carousel. How do we access them through this component?

[2015-05-06 04:09] akiran commented on #48
Those methods are not yet implemented in this module.
Need to do it.

[2015-05-06 21:09] paulwehner commented on #46
No, adding the CSS links provided here: http://kenwheeler.github.io/slick/ it looks correct. I think it would make sense to add this as a step to the directions you provide... or better yet, as a "require()" within the project, so webpack will automatically bundle and inject it into the site wherever the slider is used.

[2015-05-06 23:01] paulwehner commented on #45
I tried it again. I directly cloned the project as well as downloaded the zip. Both times when I run "npm install" from the root folder I get the following output:

    Pauls-MacBook-Pro:react-slick paulme$ npm install
    npm WARN package.json Dependency 'object-assign' exists in both dependencies and devDependencies, using 'object-assign@^2.0.0' from dependencies
    npm WARN peerDependencies Th

[2015-05-06 23:58] paulwehner opened #49 "rows setting"
Do you have plans to add this feature from Slick Carousel?

rows
int
1
Setting this to more than 1 initializes grid mode. Use slidesPerRow to set how many slides should be in each row.

[2015-05-11 02:28] milanlandaverde opened #50 "Vertical scrolling"
Currently testing on Android Nexus 5.

When I load the [slick](http://kenwheeler.github.io/slick/) demos on the device, scrolling vertically does not break. When I try to scroll from an area where the slider is, it lets me just fine.

When I load the demos for [react-slick](http://webrafter.com/opensource/react-slick) on the device, vertical scrolling is broken. When I try to scroll from an area w

[2015-05-11 02:43] akiran commented on #50
Vertical scrolling is no yet implemented in react-slick.
Need to implement it

[2015-05-15 14:27] #45 closed

[2015-05-15 14:28] akiran commented on #45
@paulwehner This is the problem with node-sass
Updating its version fixed the problem

[2015-05-15 14:35] #46 closed

[2015-05-15 16:06] #44 closed

[2015-05-15 16:10] akiran commented on #44
You can see demos locally
[code]

[2015-05-15 16:11] akiran commented on #41
@golmansax Thanks for reminding
Registered on bower

[2015-05-15 16:11] #41 closed

[2015-05-15 16:14] #1 closed

[2015-05-18 10:34] abhilashsajeev opened #51 "How to select an Item onClick or Ontap"
I would like to use this, but need support for onClick and onTap event. When clicked that item should be selected. I see a option focusOnselect but it not seems to work
![screenshot from 2015-05-18 16 09 08](https://cloud.githubusercontent.com/assets/8110867/7679127/9d09cd94-fd77-11e4-8e7d-db0e5b06f5b2.png)
like in following image

[2015-05-18 12:00] edoloughlin commented on #40
I'm seeing the same behaviour with react-slick 0.4.1 and react 0.13.3

[2015-05-18 12:26] akiran opened #52 "Test and make it work with react 0.13"

[2015-05-19 15:31] akiran opened #53 "Upgrade to support css in latest version of slick-carousel"

[2015-05-24 00:04] irock195 opened #54 "Cannot Import as Module"
Consistently receiving the following error when trying to import this module.

[code]

[2015-05-24 02:30] akiran commented on #54
Do you have build setup to compile jsx to js ?

[2015-05-24 05:37] akiran commented on #54
Build files are available in dist folder
So, you can do
[code]

[2015-05-24 13:57] vaclavh commented on #40
I have same issue with react 0.13.2

[2015-05-24 14:54] vaclavh commented on #40
Better solution than using the dist file from installed package is to proper configure the webpack to require base slider.jsx file. Due the other issues with this configuration, this definition works for me in webpack.config.js as a new loaders entry:
[code]

[2015-05-24 14:57] akiran commented on #40
@vaclavh  You needn't use dist files
If you are using webpack, you can do
[code]

[2015-05-25 04:43] vramana opened #56 "afterChange is calling the callback function before the transition."
Steps to reproduce:
-  run `npm start` in project folder and open http://localhost:8000
- click on carousel of Center Mode

[2015-05-25 12:23] #54 closed

[2015-05-25 12:23] #53 closed

[2015-05-25 18:33] vramana opened #58 "Missing features from jQuery Slick Plugin"
Slick Settings
- [ ] accessibility
- [x] adaptiveHeight
- [x] autoplay
- [x] autoplaySpeed
- [x] centerMode
- [x] centerPadding
- [x] cssEase
- [ ] customPaging
- [x] dots
- [x] dotsClass
- [x] draggable
- [x] easing
- [x] edgeFriction
- [x] fade
- [x] arrows
- [ ] appendArrows
- [ ] appendDots
- [ ] mobileFirst
- [x] prevArrow
- [x] nextArrow
- [x] infinite
- [x] initialSlide
- [x] lazyLoad
- [ ]

[2015-05-25 18:59] vramana commented on #22
Once #57 gets merged, your issue will be fixed.

[2015-05-26 08:28] vramana commented on #58
@akiran When you have time, check if I have missed mentioning or marked as done.

[2015-05-26 08:31] #22 closed

[2015-05-26 12:47] burtyish commented on #20
I'm getting the same error in version 0.4.1

[2015-05-26 16:05] vramana commented on #20
@burtyish We use babel-loader as the transformer. What build tool are you using and what is your configuration ?

[2015-05-26 16:09] akiran commented on #20
@burtyish  reactify is already added in devDependencies of package.json

[2015-05-26 17:06] burtyish commented on #20
@vramana I use [coffee-reactify](https://github.com/jsdf/coffee-reactify)

[2015-05-26 17:46] vramana commented on #20
It is not about relevancy. I don't how to setup grunt properly so little bare-bones grunt conf would help me to focus on the issue rather than trying to setup grunt.

[2015-05-26 17:48] burtyish commented on #20
I see, you're trying to reproduce the problem. I'll see if I can provide a bare-bones setup like you mentioned.
By the way, if I use the files in the dist folder directly, browserify succeeds, but I run into #40

[2015-05-26 17:56] vramana commented on #20
Yes. I want to reproduce the issue. I'll look in that as well.

[2015-05-26 17:58] burtyish commented on #20
I used a boilerplate to quickly set it up. You can clone https://github.com/burtyish/grunt-react-boilerplate/commits/master and try it out yourself.
Thanks for the quick reply!

[2015-05-26 21:04] jlem opened #59 "[request] Setting for scroll direction"
It would be great if you could define up,down,left,right,random as scroll directions.

[2015-05-27 01:24] vramana commented on #59
@jlem What do you mean by random? A transition that happens in random direction??

[2015-05-27 02:01] vramana commented on #20
I think I found the issue @burtyish. You have to reactify is added as devDependency, so it is not being installed by default. If I add it as dependency, I don't see this anymore.

But the grunt transformer is not properly transforming `App.jsx` So it is giving errors. When I added this
[code]
To package.json everything compiles.

[2015-05-27 09:01] #20 closed

[2015-05-27 10:11] burtyish commented on #20
I'd like to test the fix in my project. Do I have to wait for a release?

[2015-05-27 11:08] vramana commented on #20
We just released 0.5 version !! Try it out.

[2015-05-27 13:34] vramana commented on #40
I don't see this issue on latest release.

@vaclavh @lewismoten @edoloughlin Can you guys check this issue on the latest release ?

Alternatively clone this gist and https://gist.github.com/vramana/e6d040d0bd9f19ae6d72 and run `npm start` and report if you see any errors ?

[2015-05-27 14:11] jlem commented on #59
Yes. One application I'm using this for is to display a carousel of misc image and marketing slides, and there are three of these carousels on the page as "tiles". Right now the only way I can differentiate their movement is to use different transition times between slides so they don't look like they're all moving in sync and in the same direction.

It would be nice if I could just let them trans

[2015-05-27 20:12] burtyish commented on #20
Now I get `Error: Cannot find module 'reactify' from './node_modules/react-slick/node_modules/react-responsive-mixin'`
However, if I require `node_modules/react-slick/dist/react-slick.min` directly, it works fine.

[2015-05-28 02:22] vramana commented on #20
@burtyish  That is because of this https://github.com/akiran/react-responsive-mixin/blob/master/package.json#L44 I will clean it up later.

[2015-05-28 08:34] #56 closed

[2015-05-30 08:11] #40 closed

[2015-05-30 08:27] #52 closed

[2015-05-30 08:33] akiran commented on #39
This issue is fixed in react-slick 0.5 by providing transformed js files

[2015-05-30 08:33] #39 closed

[2015-06-03 16:29] mattjstar commented on #43
I want to start looking into this to use it and potentially fix it myself. Do you have any context as to why this feature was disabled?

thanks!

[2015-06-03 16:46] akiran commented on #43
This feature is not yet implemented.
We are thinking about implementing it.

We will be happy if you can submit a pull request with fix

[2015-06-04 08:12] spartDev opened #64 "[Request] Add function who recalculate position on browser resize."
It would be great to implement like current **jQuery-Slick** a resize function who recalculate position of each item on browser resize.
Have you planned to implement this ?

[2015-06-04 08:16] akiran commented on #64
We are trying to add all the features of jquery slick to this project, hopefully by the end of the month

[2015-06-04 08:37] spartDev commented on #64
Awesome ! thx

[2015-06-04 10:15] vramana commented on #43
@mattjstar I am working this feature will land in a day or two.

[2015-06-04 11:28] hannesj opened #65 "ResponsiveMixin throws an exception if no breakpoints are set on componentWillUnmount"
Uncaught (in promise) TypeError: Cannot read property 'forEach' of undefined
    at ResponsiveMixin.componentWillUnmount (webpack:///./~/react-slick/~/react-responsive-mixin/index.js?:22:34)

[2015-06-04 12:09] vramana commented on #65
@hannesj Can you give little more details of your problem?? How can we reproduce this??

[2015-06-04 13:30] hannesj commented on #65
Hi @vramana,

Currently the [slider.jsx](https://github.com/akiran/react-slick/blob/master/src/slider.jsx#L10) uses [react-responsive-mixin](https://github.com/akiran/react-responsive-mixin). If you create a react-slick component without any breakpoints and later on try to unmount it, it tries to [remove all media handlers](https://github.com/akiran/react-responsive-mixin/blob/master/index.js#L22)

[2015-06-04 14:29] mattjstar commented on #43
Thanks Vramana

[2015-06-07 13:43] #25 closed

[2015-06-08 03:54] #65 closed

[2015-06-08 06:33] #43 closed

[2015-06-09 02:30] akiran commented on #23
implemented in https://github.com/akiran/react-slick/pull/66

[2015-06-09 02:30] #23 closed

[2015-06-09 21:37] mattjstar commented on #43
@akiran Do you have any sense when you might publish the lazyload code in as a new version? Thanks!

[2015-06-09 22:58] kdedakia opened #67 "Window width resize"
Resizing the window will not cause the slick carousel to change its width as expected.

Resizing the window to be smaller will not shrink the carousel element.

Resizing the window to be bigger with a single item carousel will result in seeing portions of the next slide.

I'm not sure if this is the same as issue https://github.com/akiran/react-slick/issues/64

[2015-06-10 01:10] akiran commented on #43
It might take a week.  We are adding lot of other features as well.
We will test it thoroughly and then publish

[2015-06-10 22:09] mattjstar commented on #43
great thanks!

[2015-06-12 23:36] quarklemotion opened #71 "Swiping issues when infinite = false"
I'm seeing the following behavior when using react-slick in non-infinite mode:

- with slidesToShow=1 and 1 item in the carousel, the div can be dragged left or right, it does not snap back.  I noticed that the jquery slick carousel does not allow swiping in this case where there are no more slides to show.
- when dragging/swiping past the beginning or end of the carousel (also slidesToShow=1, but

[2015-06-13 03:49] vramana commented on #71
@quarklemotion It is called edgefriction. I am working on it.

[2015-06-13 12:20] vramana commented on #71
@quarklemotion Ignore my earlier comment. I misread your comment.

I can't reproduce this on master. I tested the issue on in the example given in docs for a few cases by setting infinite to false, the slider does 'snap back' in all the cases I tested. Can you put up an example? so that I can test the issue on that.

[2015-06-13 13:12] vramana commented on #71
Sorry again, I can reproduce this issue. When I tried previously, it seems I dragged a little too much every time. If I drag a little bit. The slide don't snap back. I will fix it in #70.

[2015-06-16 11:25] iandoe opened #72 "Center Mode Warping Issue"
Hey,

I really want to use your work for a big project but the warping animation bug is really a downer. How do you think this problem can be fixed ? I can try to help by submitting a PR if you have some idea of where to start to fix this bug :)

maybe using `ReactCSSTransitionGroup` ?

Let me know, Thanks !!!

[2015-06-16 11:39] vramana commented on #72
@iandoe Are you refering flicker that happens at the start and end slide? I think the problem slick-center transform is applied two times due to two `setState` changes. A probable solution is to apply `.slick-center` to both the cloned slide and actual slide at the same time. I didn't try it out yet.

[2015-06-21 03:37] #71 closed

[2015-06-23 20:46] super-cache-money opened #73 "Tripple item render in 13.3"
Even though I'm only passing in a single React Component as a child to `Slick`, the item is trippled.
Here's an example:

    <Slick >
      <MyComponent/>
    </Slick>

where:

    var MyComponent = React.createClass({
      render: function(){
        return <div> Very simple Component </div>
      }
    });

If I replace `<Slick>` with a `<div>`, `<MyComponent>` is displayed once, perfectly.
Al

[2015-06-24 07:31] vramana commented on #73
Hey, pass down the props sent to your component to the actual slide `div`. That seems to do the job.
[code]

[2015-06-24 07:31] #73 closed

[2015-06-24 10:20] vramana commented on #73
Slick actually applies a few props to the slides before they are rendered. Instead of passing down to the actual slide, they are being passed to your custom component which doesn't pass it down further.

If you have any more, feel free to ask

[2015-06-24 12:59] awartani commented on #40
I see the issue when adding dynamic slide.
[code]

[2015-06-24 13:04] vramana commented on #40
@awartani Can you give more information ?? Are you using the dist files ??

Don't insert any keys `slick` automatically inserts keys for you.

[2015-06-24 13:08] awartani commented on #40
@vramana Thanks for your quick response, no I am not using dist files.

We're using browsify with gulp, and I just installed it with `npm install react-slick`.

*My Code*
[code]

[2015-06-24 13:21] vramana commented on #40
@awartani It is a plain javascript error. Arrap.map returns a new array so you have  use new variable to store it and put it inside the `Slider`

[2015-06-24 13:23] awartani commented on #40
Thanks @vramana, after fixing that, the issue is gone.

[2015-06-24 13:25] vramana commented on #40
@awartani You are welcome.

[2015-06-24 13:50] super-cache-money commented on #73
Cool, thanks. It should probably be documented in the readme.

On Wed, 24 Jun 2015 12:20 Ramana Venkata <notifications@github.com> wrote:

[2015-06-25 00:05] yankrasny commented on #38
I've run into the same issue. On desktop, onClick events work as expected, but on mobile (whether in the chrome simulator or on an actual phone) onClick events don't go through. Thinking that this may have been related to https://github.com/facebook/react/issues/1169, I added cursor: pointer on all clickable elements, but that did not solve the problem.

[2015-06-25 07:38] vramana commented on #38
@yankrasny Can you make a gist or jsfiddle? From which I can reporduce this issue? It will help a lot.

[2015-06-25 09:24] hikkyu opened #74 "Slide only once on safari"
On safari mac ( 8.0.6 (10600.6.3) ), I can only slide one time after that I can't go back or further.
Works fine the first time with each navigation button (next, back, drag&drop and navigation)

By the way I don't have the slide animation.

No problem on firefox and chrome.

[2015-06-25 09:29] vramana commented on #74
@hikkyu I don't have a Mac with me right now. In a few days, I hopefully I'll be able to find one. Can you give an example with which I can reproduce this issue?

[2015-06-25 09:30] hikkyu commented on #74
@vramana I reproduce it all the time on your demo page, with all example carousel

[2015-06-25 09:37] vramana commented on #74
@hikkyu Are you taking about this link http://webrafter.com/opensource/react-slick ??

[2015-06-25 09:40] hikkyu commented on #74
@vramana Yep!

[2015-06-25 09:40] vramana commented on #74
@hikkyu A lot things have changed since then.

[2015-06-25 09:41] akiran commented on #74
@hikkyu, @vramana  I will test it and try to fix it today

[2015-06-25 09:59] akiran commented on #74
@hikkyu I tested the latest version of demos in safari. Its working well.
 http://webrafter.com/opensource/react-slick demos are using old version which had an issue with safari.

To test the latest demos locally
You clone the repo , run npm start and view demos locally at http://localhost:8000

[2015-06-25 09:59] #74 closed

[2015-06-25 09:59] akiran opened #75 "update the demos and docs at webrafter.com"

[2015-06-25 10:07] hikkyu commented on #74
@vramana @akiran Yes! I just implemented it on my project and it works well. Sorry for the useless issue

[2015-06-25 10:12] vramana commented on #74
@hikkyu Its fine. Just happens sometimes. :smile:

[2015-06-25 17:35] yankrasny commented on #38
@vramana sure, I'll try to get you an example later today. Thanks for the quick response.

[2015-06-26 16:40] yankrasny commented on #38
Hey @vramana, here are the jsfiddles for desktop and mobile.

Desktop: https://jsfiddle.net/yankrasny/hug2f0r1/6/
Mobile (access from a mobile or a simulator, I used chrome): https://jsfiddle.net/m/rvt/

The behavior is to display the link that was last clicked as proof that the onClick event went through. It works on desktop but not on mobile.

You'll also notice that on desktop, clicking any of

[2015-07-01 13:43] sbaechler opened #78 "Lazy loading fails to initialize correctly when using react components as slides."
I have a slider with about 200 elements. Each element is a react component.
When I have lazyLoad set to true, no slides are loaded. I have to advance the slider first.
The slider initializes and is displayed (if the height of a slide is defined in CSS), but it is empty. The dots appear. When I do a swipe action, the next image is loaded.

Setting 'initialSlide' does not help either.

Autoscroll do

[2015-07-01 13:48] vramana commented on #78
@sbaechler You probably are not passing down the props into your React component. Can you see the discussion in #73 helps ??

[2015-07-01 14:01] sbaechler commented on #78
No, I was using a wrapper div. But even with passing down the props the problem still exists.

[2015-07-01 14:05] vramana commented on #78
@sbaechler Can you write an example so the I can reproduce the issue?

[2015-07-05 23:33] pghalliday commented on #47
+1

[2015-07-06 03:27] iandoe commented on #67
Hello, you can fix this issue and the following issues: #64, #27 by creating a wrapper component for slick and giving it the following properties:

[code]

The component will rerender everytime the window is resized, and will then relayout.

[2015-07-06 03:31] akiran commented on #67
I will fix this today

[2015-07-08 13:34] alkali47 commented on #48
How far with these please?

[2015-07-08 13:37] milanlandaverde commented on #48
I just ended up implementing my own react-slick component. Not that much
more difficult and more flexibility.

On Wednesday, July 8, 2015, alkali47 <notifications@github.com> wrote:

[2015-07-08 13:50] vramana commented on #48
@alkali47 What methods do you need support of ?

[2015-07-08 13:53] akiran commented on #48
@alkali47  Many slick methods can be implemented by programmatically changing the children of Slider in your react components
Calling slick method similar to jQuery $('.slick').method() is not a got pattern in react.
Instead you can render slides inside Slider according to your requirement

[2015-07-08 15:18] alkali47 commented on #48
That's helpful, thanks

[2015-07-10 19:22] cranberryofdoom opened #79 "Using the dots feature breaks React tests"
So I popped the Slider component into my project and set ```dots={true}```. All was well until I tried testing the parent component.

I'm using mocha for testing and I wrote a simple test to see if the parent is rendering itself, so something like this:
[code]
Without the dots, this test passes.
[code]
But if I add the dots, I get this weird error thrown.
[code]
Any guesses to why this might be ha

[2015-07-10 23:24] vramana commented on #79
@cranberryofdoom Can you isolate the problem and give actual test and components to work with?

[2015-07-15 16:28] stevemckenzie commented on #38
This is also happening for me.

[2015-07-16 15:47] stevemckenzie commented on #38
@akiran any update on this?

[2015-07-16 16:27] #38 closed

[2015-07-16 16:36] akiran commented on #38
@stevemckenzie  Can you test the fix in 0.6.1 version

[2015-07-16 16:41] yankrasny commented on #38
Just tested version 0.6.1 and the issue appears to be fixed. Thank you!

[2015-07-16 16:54] stevemckenzie commented on #38
Thank you @akiran ! This definitely fixes the ability to touch links in slides.

I thought this was going to fix the automatically scrolling back to the first item when you start scrolling the page issue too but it didn't.

[2015-07-17 02:36] akiran commented on #38
@stevemckenzie  Can you open a separate issue for the scrolling issue.

[2015-07-17 14:54] beepiams commented on #78
+1 on @sbaechler's issue. Finding the triplication of passing props as well (even with https://github.com/akiran/react-slick/issues/73  <div {...this.props}> solution).

[2015-07-17 22:35] bdvis opened #80 "No support for IE9 transforms"
Noticed an issue where IE9 wasn't correctly changing which slide was selected because `msTransform` wasn't being set in `trackHelper.js`'s `getTrackCSS` function. Not sure if this lib intends to support IE9 or not but thought I'd open an issue anyway. (A `matchMedia` polyfill is required for `< IE 10` which leads me to believe this lib might just be 10+.)

Also, if you could provide instructions o

[2015-07-17 22:40] vramana commented on #80
@bdvis I don't have a windows machine I can't really do much. If your issue is solved by adding `msTransform` in the `getTrackCSS` send a PR, I would be happy to accept it.

You can run local server for demos using `npm start`.

[2015-07-17 22:53] bdvis commented on #80
@vramana will do!

Thanks for the info on `npm start`.

[2015-07-17 23:34] #80 closed

[2015-07-18 04:11] #67 closed

[2015-07-18 04:13] akiran commented on #64
Fixed this in 0.6.3 release

[2015-07-18 04:13] #64 closed

[2015-07-18 04:13] akiran commented on #67
Fixed this in 0.6.3 release

[2015-07-18 07:51] devdebonair opened #82 "Common Functionality"
Please excuse my ignorance for I am just getting the hang of react. How exact would one go about moving to the slide if using the arrows is not an option? Due to the nature of React, I believe it wouldn't be fit to call a nextSlide() method. I was thinking of having a currentSlide property that could be passed into React-Slide. My idea is to link the slider to the parameter and manipulate it outsi

[2015-07-18 08:36] vramana commented on #82
@catalystlive You are absolutely right. Calling external methods on component to change the state is considered an anti-pattern. You should external manipulate the component by only changing the props.

[2015-07-18 13:47] catalystlive commented on #82
Which property handles the current page?

[2015-07-18 13:50] vramana commented on #82
@catalystlive There is support for paging yet

[2015-07-18 14:09] akiran commented on #82
@catalystlive I will try a demo with your use case tomorrow and implement if there is a missing feature

[2015-07-19 20:18] catalystlive commented on #82
Thanks for the quick feedback. I am building a comic reader and wanted to be able to paginate by clicking on images and pressing arrow keys. I will try to see about applying those features.

[2015-07-19 21:58] vramana commented on #82
Do you mean to changing the image upon clicking it? If so, you can achieve this by attaching a `onClick` handler which will change the slider's currentSlide.

[2015-07-20 00:57] catalystlive commented on #82
@vramana would you mind showing me a snippet of how to acheive this???

[2015-07-21 12:41] voodooattack opened #83 "RTL layout not working."
I tried to use the right-to-left feature and it's as though the component is ignoring the prop completely.
![reac-slick rtl bug](https://dl.dropboxusercontent.com/u/27714141/react-slick-bug.png)

[2015-07-21 12:43] vramana commented on #83
@voodooattack Are you using React compents inside the Slider?

[2015-07-21 12:45] voodooattack commented on #83
Just this:

[code]

[2015-07-21 12:50] vramana commented on #83
Please dont give any keys or slideIndex Slider will handle that automatically for you.

[2015-07-21 13:05] vramana commented on #83
Can you show your the entire Slider component with settings?

[2015-07-21 13:06] voodooattack commented on #83
[code]

[2015-07-21 13:12] vramana commented on #83
Does the Slider work with out any props properly?

[2015-07-21 13:14] voodooattack commented on #83
Only when the html DIR attribute is set to LTR.

[2015-07-21 13:16] vramana commented on #83
Actually Slider doesn't check for dir attribute, It just checks the for rtl prop in the slider.

[2015-07-21 13:20] voodooattack commented on #83
I understand, but the RTL attribute apparently breaks it. I just tried specifying the "rtl" prop only and it still doesn't work.

[2015-07-21 13:28] vramana commented on #83
Do you have react dev tools chrome extension? If not install it and can you open up the Slider component tree and send the screenshot?

[2015-07-21 13:32] voodooattack commented on #83
![react-slick bug 2]
(https://dl.dropboxusercontent.com/u/27714141/react-slick-bug2.png)

[2015-07-21 13:33] vramana commented on #83
Sorry, I want to see the InnerSlider tree to see the slides order.

[2015-07-21 13:38] voodooattack commented on #83
![react-slick bug 3]
(https://dl.dropboxusercontent.com/u/27714141/react-slick-bug3.png)

[2015-07-21 14:13] vramana commented on #83
I have checked examples in docs. `rtl` is not working with images only. It seems there is issue with Slider is applying wrong styles specifically `left` I will look into this.

[2015-07-21 15:28] akiran opened #84 "Slider is going to 1st slide if we scroll the page to bottom on iOS"

[2015-07-21 21:36] cport1 opened #85 "Slider goes to first slider when changing route with react-router"
I am changing the route in the afterChange method, but when doing so it sometimes jumps to the 1st slide.

 render() {
        var self = this;
        function goTo(event){
            self.context.router.replaceWith(pages[event].path);
        }
        var settings = {
            dots: false,
            infinite: true,
            arrows: true,
            speed: 500,
            slidesToShow

[2015-07-21 21:58] vramana commented on #85
@cport1 Hey, think I know there the issue may be coming from. Can you remove these lines https://github.com/akiran/react-slick/blob/master/src/inner-slider.jsx#L54-L56  from your react-slick in your node_modules and tell what happens ?

[2015-07-21 22:27] cport1 commented on #85
That totally fixed it.

[2015-07-21 22:49] #85 closed

[2015-07-21 22:55] vramana commented on #84
Hey, this may be similar to #85 I pushed a changed can you check if that solves the issue.

[2015-07-22 01:44] akiran commented on #84
Thanks @vramana

[2015-07-22 10:20] vramana commented on #84
Hey, Can you release a new version?

[2015-07-22 10:22] akiran commented on #84
Yes. I will do it in the evening.

[2015-07-22 11:01] jasontighe commented on #48
Just wanted to check in if these have been implemented. Thanks alkali47!

[2015-07-23 02:28] akiran commented on #84
released 0.6.4 with this fix

[2015-07-23 02:28] akiran opened #86 "Slight flicker in single slide more at the end of the transition in demos"

[2015-07-24 18:49] angus-c opened #87 "Flex layout version"
My content is expecting to be rendered in a flex container, but since div.slide-slide is display:block, div.myContent always renders with zero height.

[code]

I forked react-slick and tried to change it to flex layout - but got into a snag with div.slick-track, which I was unable to get to function properly within flex layout.

Any suggestions for how to do this? - thanks!

[2015-07-24 23:12] vramana commented on #87
Can't you wrap your div.myContent in a div with display:flex? Or is that you would prefer not to have extra div's?

Even I wanted to change the css to an entirely flexbox layout. Using float seems too much of a hack to me. I ran into wierd errors when I was trying to implement vertical scrolling. Also some of the code inside react-slide is dirty because of the hacky nature of floats used to render

[2015-07-25 02:08] angus-c commented on #87
Thanks for the response.

I don't want to specify a size on div.myContent or a wrapper - I just want it to fill the available space. And div.slick-slide has no explicit size, so I can't just do height:100% on the wrapper.

I may do a PR if I get time.

[2015-07-26 10:34] ranyefet opened #88 "Demo broken on Safari desktop?"
Hi,

I've just tried the [demo](http://webrafter.com/opensource/react-slick) on Safari desktop.
I'm able to click on the right arrow once and it works, but after that it's stop working and the left button also do nothing.

I'm running Safari on Mac: Version 8.0.7 (10600.7.12)
On Chrome it seems to work fine.

Is it just me? a bug?

Thanks!

[2015-07-26 11:07] akiran commented on #88
Demos on the website are old version.
recent version of code didn't have bugs on safari.

website need to be updated

[2015-07-26 11:07] #88 closed

[2015-07-27 06:54] MarshallChen opened #89 "what happened with the dist file"
[code]

it cause problem when I use it, and yes from `npm install react-slick`. In the package.json file the main field are "./lib" but it doesn't exist in npm modules nor in repo, so I changed it to "./dist/react-slick.js" and what the error message is `error given was: Error: Cannot find module "./mixins/event-handlers"`

[2015-07-27 07:27] akiran commented on #89
I just installed latest version of react-slick and lib folder is present.
lib folder is auto generated during npm publish.  lib folder contained jsx to js transformed files

lib folder will not be present in repo , but it will be present on npm installed package

[2015-07-27 07:33] MarshallChen commented on #89
Thats my fault, Thanks!

[2015-07-27 13:58] beepiams opened #90 "variableWidth fix?"
react-slick.js line 659:

[code]

I'm trying to implement slick as an immutable component using a SCarousel wrapper, and SCarouselSlide instances. Tried to inherit the slideWidth into the SCarouselSlide slideWidth={#}.

Anyone find a hack for variableWidth to work correctly?

Thanks!

[2015-07-27 16:12] akiran commented on #84
This issue still exist on iphone

[2015-07-28 00:14] gus4no commented on #38
how can I get version 0.6.1 with this fix? Available versions using bower are 0.5.0, 0.4.1 and 0.3.1

[2015-07-28 02:06] akiran commented on #38
I created a github release with 0.6.4 version.

Now you should be able to get it from bower

[2015-07-28 09:18] jeongsd opened #91 "main entry on bower.json points to a non-existent file"
Hi I'm using https://github.com/ck86/main-bower-files to generate file list for gulp.
But in react-slick's bower.json file, the "main" entry points to "index.js" file which does not exist.

Could you please fix bower.json's main entry to point to "dist/react-slick.js"? Thank you

[2015-07-28 12:59] vramana commented on #91
@akiran I have fixed this issue. But probably you have to retag with the version. I'll leave that to you.

[2015-07-28 13:48] akiran commented on #91
Thanks @vramana .

Created a 0.6.5 release tag

[2015-07-28 13:48] #91 closed

[2015-07-28 14:48] gus4no commented on #38
Thank you very much! @akiran

[2015-07-28 15:06] gus4no commented on #89
this is happening to me too with `bower install` @MarshallChen how did you fixed it?

[2015-07-28 15:19] akiran commented on #89
@gus4no  Fixed this in 0.6.6  Can you test it

[2015-07-28 15:21] gus4no commented on #89
@akiran you're awesome man! it all works now! thanks a lot! I'm fairly new to react but I hope I can contribute to this! thanks a lot!

[2015-07-28 15:27] akiran commented on #89
@gus4no You are welcome

[2015-07-28 15:27] #89 closed

[2015-07-29 23:28] gus4no commented on #29
similar issue here but it's just a regular div, not a component

[code]

[2015-07-30 03:23] akiran commented on #29
Slider is not getting update when new slides are arrived

Earlier we used to reinitialize slider when props changed, but removed it to fix other issue #85
https://github.com/akiran/react-slick/commit/01e6e4b60adb61a1282bf358f77241f2e0efa861

Need to find a different solution

[2015-07-31 09:26] sorrycc commented on #50
:+1: , any progress ?

[2015-07-31 13:41] vramana commented on #50
Nope.

[2015-07-31 15:16] pieded opened #92 "typeError in react-a11y check"
if you set `dots: true` then it throws
`Uncaught TypeError: Cannot read property 'children' of undefined`
traceable to
/lib/dots.js:40

[2015-08-03 22:14] trodrigu opened #93 "Enquire js errors out becuase matchMedia not present"
My error is `matchMedia not present, legacy browsers require a polyfill`
I am running my tests with jest.

[2015-08-03 22:15] trodrigu commented on #93
It's specifically happening in the react-responsive-mixin

[2015-08-04 00:10] vramana commented on #93
What is the browser that you are targeting?

[2015-08-04 03:11] trodrigu commented on #93
Jest ships with jsdom.

[2015-08-04 03:12] trodrigu commented on #93
![screen shot 2015-08-03 at 20 12 40](https://cloud.githubusercontent.com/assets/7085664/9052413/047eef6e-3a1c-11e5-98aa-bc250a8a68e4.png)

[2015-08-04 03:13] trodrigu commented on #93
Just a snippet from the jest jQuery tutorial at https://facebook.github.io/jest/docs/tutorial-jquery.html

[2015-08-04 12:21] HuiguangChu opened #94 "Text blurry in chrome when using "tranform:translate3d(x,y,z)""
could you change it to translateX for WebkitTransform like you did for msTransform?

[2015-08-04 13:49] vramana commented on #93
I am sorry. But what exactly is the issue here? You are not able to test the slick component in jest, is that correct?

[2015-08-04 13:56] vramana commented on #94
Shouldn't this be a bug in chrome? I am not sure how changing to translateX will solve your problem because they are literally same API except `translate3d` moves in two other directions. Have you tried this out?

Which version of chrome are you using? Can you show a screenshots of using `translate3d` and `translateX`? Or just simply where you are having the blurry text? Why do you think its cause

[2015-08-04 14:20] HuiguangChu commented on #94
okay, you can compare two screenshots, one is using translateX and one is
using translate3d.
 Actually, translate3d cause text blurry in chrome is the common issue.

2015-08-04 15:56 GMT+02:00 Ramana Venkata <notifications@github.com>:

[2015-08-04 14:27] vramana commented on #94
Can you check if this works http://stackoverflow.com/a/7477166/1117168 ??

[2015-08-04 14:31] HuiguangChu commented on #94
thank you, i did that, it did not work. I don't get the point that why you are using 3d, as I can see you set  the y and z is 0. why you don't using translateX?, then you don't need to fix bug for IE as well

[2015-08-04 14:58] vramana commented on #94
I am slightly reluctant to do that because I want to know what exactly is the cause of problem and what is the best way to solve it. I am trying to read whatever I can find.

[This question](http://stackoverflow.com/questions/27385126/chrome-font-appears-blurry) states using `translateX` causes problems. According to [this reddit comment](https://www.reddit.com/r/web_design/comments/2z9ub7/css3_tr

[2015-08-04 15:07] vramana commented on #94
@akiran How do you want to solve this?

[2015-08-04 15:35] akiran commented on #94
@HuiguangChu Original slick from which we ported this also uses translate3D
https://github.com/kenwheeler/slick/blob/master/slick/slick.js#L1696

[2015-08-04 16:27] trodrigu commented on #93
Correct.  These are the settings for the component.

      var settings = {
      autoplay: true,
      dots: false,
      infinite: true,
      speed: 500,
      rtl: false,
      pauseOnHover: true,/*not working*/
      responsive: [
        {
          breakpoint: 479,
          settings: {
            slidesToScroll: 1,
            slidesToShow: 1
          }
        },
        {
          bre

[2015-08-04 16:28] trodrigu commented on #93
The issue is that enquire js not seeing matchMedia, which is under the react-responsive-mixin.

[2015-08-04 16:43] trodrigu commented on #93
Full error is
`Error: /Users/thomas/Sites/design-2-1/server/isomorphic/components/TrendingSlider.js: /Users/thomas/Sites/design-2-1/node_modules/react-slick/lib/index.js: /Users/thomas/Sites/design-2-1/node_modules/react-slick/lib/slider.js: /Users/thomas/Sites/design-2-1/node_modules/react-slick/node_modules/react-responsive-mixin/index.js: /Users/thomas/Sites/design-2-1/node_modules/react-slick/

[2015-08-04 16:53] trodrigu commented on #93
I found that stubbing it out was the solution because the browser is headless.
[This](https://github.com/WickyNilliams/enquire.js/issues/82) is where I found the answer.  Thanks.

[2015-08-04 16:53] #93 closed

[2015-08-04 22:06] yuindustries commented on #47
:+1:

Where does this stand? I scanned the list of missing features from the jQuery Slick plugin (https://github.com/akiran/react-slick/issues/58), but I don't see it. It would be a great addition, though!

[2015-08-05 00:28] sean-shilin commented on #78
I got a quick hack to the same issue -> https://github.com/akiran/react-slick/pull/95

[2015-08-07 09:56] lapanoid opened #97 "Flex width positive feedback."
I encountered some bug while using react-slick with flex boxes.

[code]

First of all that does not fit into screen and if we try to rezise it width grows to infinity. I think that flexboxes and react-slick both dynamically calculate its sizes so it create positive feedback.
Maybe there is some common way to deal with that as there are other react components that dynamically calculate their sizes,

[2015-08-09 17:46] dptoot opened #98 "Demo doesn't seem to work on mobile browsers (iOS Chrome and Safari)"
Great port so far!   Really looking forward to using it.

I want to ask about mobile support.  I see in the road map that a swipe and swipeToSlide boolean are road mapped.  Any idea on priority.  I ask as it seems swiping on the Demo page works initially but then causes the carousel to immediately deactivate and is no longer functional.  I thought  it may just be an issue with swiping but it seems

[2015-08-10 00:53] vramana commented on #98
Which demo are you talking about? The online one is too old. Try running it locally.

[2015-08-11 01:34] dptoot commented on #98
That's great news!  Would it be a good idea to update the demo with current functionality?  I would hate for people to bypass this component based on false premises.

[2015-08-11 01:40] vramana commented on #98
If I get time this weekend, I'll try to put the latest demo using Github Pages.

[2015-08-11 01:41] dptoot commented on #98
Sounds great!  Thanks again for the work thus far.

[2015-08-11 01:41] #98 closed

[2015-08-14 08:13] richardasaurus opened #99 "`centerMode` doesn't work when `variableWidth` and `lazyLoad` are true"
With this config:

[code]

 centerMode doesn't work, is there a fix coming for this? Thanks

[2015-08-14 13:38] vramana commented on #99
variableWidth is broken completely. It needs a rewrite. I don't have the time currently.

[2015-08-14 13:39] richardasaurus commented on #99
Is there an previous release where it does work?

[2015-08-14 13:40] vramana commented on #99
No. I don't think so. Centering was broken in previous releases.

[2015-08-14 13:43] richardasaurus commented on #99
![http://www.meriahnichols.com/wp-content/uploads/2014/05/picard-ears.jpg](http://www.meriahnichols.com/wp-content/uploads/2014/05/picard-ears.jpg)
AH..the readme should probable contain some notes on what actually works so people don't use non-working features.

[2015-08-14 13:48] vramana commented on #99
variableWidth is the only thing that has the issue. I didn't want to remove it. So, I kind of left it unchanged. Rest of them works properly expect for a few safari edge cases with touch events.

[2015-08-14 14:05] richardasaurus commented on #99
Sure, but I've spent a bunch of time debugging other areas when the issue was in fact `react-slick`, if there was a note in the readme that could have been avoided :+1:

[2015-08-14 16:42] scouttyg opened #100 "Child slide updates don't update slider"
It was mentioned here: https://github.com/akiran/react-slick/issues/29#issuecomment-126169829, but I wanted to re-emphasize the need for this functionality.

Here's the use case:

Imagine you have a "flashcard" application, which might look something like this (you'll have to imagine what the rest might look like, but this should give you an idea of what I'm talking about):

[code]

The idea is, o

[2015-08-15 03:18] akiran commented on #100
Yes, I agree, componentWillRecieveProps should be there.

Need to fix #85 in a different way

[2015-08-18 03:23] gkilian commented on #100
I was just gonna file a ticket for this until I saw this. This is a must fix!

[2015-08-19 02:44] sorrycc opened #102 "IE8 Compatibility?"
don't work in IE8 totally.

[2015-08-19 05:59] vramana commented on #102
I don't have ie8. But can you tell what works and what doesn't work? Probably after something can be fixed.

[2015-08-20 14:10] robcolburn opened #104 "Where is the CSS maintained?"
For a lot of folks it's probably fine to pull in a 3rd party css sheet, but not for everyone.  If you're already building out a css bundle, it's nice to just add things to the one file.  Can we maintain the css in this module somehow?  Then we can just add a reference in our css file builder.

[2015-08-20 14:11] Mithula opened #105 "[Request] Calculating track, slider width based on fixed with slide"
Hi,
I try to use auto play carousel for a list of fixed width divs. But there are miss-alignments and it doesn't consider list item width. Is it possible to have some flexibility to calculate outer containers based on slide width? Thanks.

[2015-08-20 14:28] Mithula opened #106 "JavaScript warning with auto play carousel, which prevents rest of the page to render."
When trying to render some dynamic content than image using carousel, most of the times, I encounter following issue.

"Warning: setState(...): Can only update a mounted or mounting component. This usually means you called setState() on an unmounted component. This is a no-op."

from call stack:
play() and then
this.setState({
        animating: true,
        currentSlide: targetSlide
      }, fun

[2015-08-20 16:23] vramana commented on #106
This has been fixed in #101

[2015-08-20 16:23] #106 closed

[2015-08-20 17:36] akiran commented on #106
Published 0.6.7 version on npm with fix

[2015-08-20 17:49] #100 closed

[2015-08-20 17:51] akiran commented on #100
@scouttyg, @gkilian  Released a fix in 0.6.8. checkout

[2015-08-20 17:55] akiran commented on #105
Outer container is already computed based slides width.

Can you share a example  of problem you are facing

[2015-08-20 18:00] akiran commented on #104
We are only re-writing javascript part of [slick](https://github.com/kenwheeler/slick)
It is better to install original slick to get css. Otherwise we have to update this library every-time css in original project change.

[2015-08-20 18:00] #104 closed

[2015-08-20 19:20] kjs3 opened #107 "Question: Is React Hot Loader working for you?"
If I run my server _without_ webpack hot loading all my sliders look fine but _with_ hot loading the tag styles are off (too big) and images aren't being constrained for the initial render. HTML is rendered server side for what that's worth.

Nudging the window size causes `initialize` to fire and everything snaps into place

I'll keep digging into this.

[2015-08-20 20:28] hydrotik opened #108 "Window resize causes 1st slide to show up"
using "version": "0.6.8" in Safari 7.1.3, when I click to any of the later slides and then resize the window, the 1 slide is then shown.

[2015-08-20 21:15] robcolburn commented on #104
Too bad npm peerDependencies are going away… oh well.

For others' reference
1. `npm i slick-carousel --save`
2. Add `./node_modules/slick-carousel/slick/slick.css` to css compiling script.

[2015-08-21 02:11] vramana commented on #104
@robcolburn I have been wanting to write a flexbox based CSS solution. I will try it out this weekend.

[2015-08-21 02:25] vramana commented on #108
[This commit](https://github.com/akiran/react-slick/commit/13febf4fa200d01e54f185d0c45108724fdca24e) broke things for you. Just roll back 0.6.7 till we find a solution to #100

[2015-08-21 03:22] akiran commented on #108
@hydrotik @vramana  I will look into it today

[2015-08-21 14:23] hydrotik commented on #108
Happening for me in 0.6.7 as well. Thanks for getting on this so fast!

[2015-08-21 15:15] #108 closed

[2015-08-21 15:19] akiran commented on #107
Fixed the window resize issue in version 0.6.9.

react-hot-loading is working for our demos.

[2015-08-21 15:19] #107 closed

[2015-08-21 15:27] akiran commented on #84
Tested on iphone safari browser.
This is no longer present in latest version (0.6.9)

[2015-08-21 15:27] #84 closed

[2015-08-21 15:38] akiran commented on #51
Tap or click on slide is working now

[2015-08-21 15:38] #51 closed

[2015-08-24 03:11] abdelav opened #111 "Custom arrows?"
What is the correct way to use custom arrows ?

thanks

[2015-08-24 11:04] abhilashsajeev commented on #51
Thats great. Thank you.

[2015-08-24 11:16] pagrawl3 opened #112 "Webpack CSS"
Hello I'm a little new to the field, and was trying webpack. Is there anyway to require the css files for the slick-slider through webpack ?

Any help would be appreciated.

Thanks!

[2015-08-24 13:01] vramana commented on #112
What is your webpack setup? You can import css directly through your js file via https://github.com/petehunt/webpack-howto#5-stylesheets-and-images I use it all the time. (This may not be suited for production but depends on your use case though)

[2015-08-24 13:06] vramana commented on #111
I think that you need write your own css class `.slick-arrow` that will do the job I guess or your can pass  your custom react components as `prevArrow` and `nextArrow` . I think it should work, I haven't tried it though. If you have face any problems, we will help you.

[2015-08-25 00:48] abdelav commented on #111
passing a custom component as parameter change the style pretty well, but the next event handler doesn't work

[2015-08-25 09:37] vramana commented on #111
Can you write an example so I have something to debug on?

[2015-08-27 17:46] eraneran70 opened #113 "creating slick-tab-nav"
I am trying to create a slick-tab-nav with costume titles. I was able to extend a carouselTab.jsx but I am not sure how the onItemClick will call the functionality  to switch slide?

carouselTab.jsx

[code]

Thanks for any insight on this issue.

[2015-08-27 18:13] vramana commented on #113
@eraneran70 Are you using your `CarouselTab` component as inside the `Slider` component ? I think whatever you wrote should work,  see [this example](https://github.com/akiran/react-slick/blob/master/docs/demos.jsx#L25). Can you give me more info? Can you make JSfiddle or JSBin ??

[2015-08-28 15:59] eraneran70 commented on #113
I tried placing it inside slider then I get each tab inside each slide instead in it own div. so i am publishing as follow which I guess making it outside of the scope of slider.

            render() {
              	var settings = {
              		arrows : true,
              		dots: true,
              		infinite: true,
              		speed: 300,
              		slidesToShow: 1,

[2015-08-31 13:52] danielbuechele commented on #111
This works for me:
[code]

[2015-09-01 11:36] only-style opened #114 "How can I move the dots at the bottom of the gallery?"
Hi, please tell me how to do move dots in the top of the gallery?

[2015-09-01 11:47] vramana commented on #114
You can use `dotsClass` props to change the postion the dots. The default value of dotsClass is `slick-dots`. If you inspect `slick-dots` class in CSS, You can see the rule `bottom: -45px;`. You change that to `top: -45px;` now the dots will appear on top.

[2015-09-01 11:47] #114 closed

[2015-09-03 18:29] eraneran70 commented on #113
Eventually used the dotsClass to control the dots as tabs. but i hop it will a feature to add to slick-react the tabs.

[2015-09-04 15:37] Yuripetusko opened #115 "When fade:true afterChange returns wrong index"
Hello, it's a weird one. ONLY if I set fade: true my afterChange function returns wrong index. I get 0, 1, 1, 2, 2, 3, 3..

So looks like I get previous index sometimes, maybe it is something to do with absence of webkitTransitionComplete with fade?

[code]

[2015-09-04 16:00] Yuripetusko commented on #115
A I know what's the issue is. it's in  helpers.js line 131 should be _this.props.afterChange(targetSlide); will create PR now

[2015-09-08 07:19] frg commented on #99
Bump for variableWidth fix.

[2015-09-08 17:43] rossPatton opened #117 "Initial slide always off by one error"
What I mean by this is that when the component initially mounts, the translate value is always negative equal to the width of one slide, showing the cloned slide and not the actual slide.

I have some css animations I want to do for each slide as a user swipes through, but because of this error it's always one off. The 'slick-active' slide is not the one that is visible.

![offbyone](https://cloud

[2015-09-08 19:57] vramana commented on #117
@rossPatton It's not an error. As you can see the cloned is your last slide before your actuall first slide and it is hidden with -negative translate. Which is used while `infinite` prop is set to `true`. Just set to `false`, you will not see the cloned slide. You will exactly see slides you have passed.

What version are you using? This might be an error caused by some css styling. Can you give m

[2015-09-08 19:57] #117 closed

[2015-09-08 20:11] rossPatton commented on #117
I see that setting infinite to false 'fixes' the issue, but that is not how slick.js works. I use slick.js often, with infinite set to true, and I do not get this behavior, nor would I ever expect it.

I would expect that the carousel should start on the first slide by default regardless of whether it was infinite or not.

What is the logic behind having it start any other way?

[2015-09-08 21:51] vramana commented on #117
To create the illusion that there is an infinite carousel. This works rougly like this, let's say we are at slide 1 and then we press back then the track is translated to show the cloned slide with an animation which runs smoothly. Then right as the animation ends, we translateX value to show the last slide this time without any animation. So, when the next time use press back button we do transla

[2015-09-09 05:07] #112 closed

[2015-09-09 09:56] Yuripetusko opened #118 "sometimes update is called before initialize"
Sometimes `update` is called before `initialize` and `this.refs.list` in `update` function is still `undefined` resulting in javascript error cannot call `getDomNode() of undefined`. Need to add guards around update something like `if (!this.refs.list || !this.refs.track) return`

[2015-09-09 10:05] vramana commented on #118
Can you give an example?

[2015-09-09 10:07] Yuripetusko commented on #118
"react-slick": "^0.7.0",

[code]

[2015-09-09 10:10] vramana commented on #118
Are you resizing the slider or changing props?

[2015-09-09 10:13] Yuripetusko commented on #118
I am not. what do you mean? I just refresh my page. render() fires with Slick in it, I put console lot in initialize and update in helpers.js. I can see that update is called first and initialize after

[2015-09-09 10:18] vramana commented on #118
Can you show a screen shot of your console?? this.update is only either on componentWillRecieveProps or on window resize event.  Look [here](https://github.com/akiran/react-slick/blob/master/src/inner-slider.jsx#L58) and [here](https://github.com/akiran/react-slick/blob/master/src/inner-slider.jsx#L64) . Can you put a complete example on jsbin or js fiddle that I can work with? I am a bit lost fro

[2015-09-09 10:23] Yuripetusko commented on #118
![screenshot 2015-09-09 11 22 05](https://cloud.githubusercontent.com/assets/666169/9759450/0bbc5920-56e5-11e5-9941-70a3985c73c0.png)

![Uploading Screenshot 2015-09-09 11.22.36.png…]()

[2015-09-09 10:24] Yuripetusko commented on #118
![screenshot 2015-09-09 11 22 36](https://cloud.githubusercontent.com/assets/666169/9759468/36bacd82-56e5-11e5-954d-6f79a92abbeb.png)

[2015-09-09 10:26] Yuripetusko commented on #118
The working setup is too complex to put on jsbin, but I will copy snippets later either here or jsbin

[2015-09-09 10:31] vramana commented on #118
Are you using react-0.14 ? not that it matters just asking. Hey Can you clone the repo and write you example there and upload it on github. I will clone it and work on it.

Basically I want to isolate the problem. I am not able to do that on top of my head.

[2015-09-09 10:34] vramana commented on #118
`this.initialize` and `this.update` are the shady areas of react-slick. I want to write re-everything from group up. There is too much state and imperative manipulations all over the place.

[2015-09-10 12:29] tarkanlar opened #119 "Support for react-0.14"
I am using React 1.4
Getting this error
```Warning: ReactDOMComponent: Do not access .getDOMNode() of a DOM node; instead, use the node directly. This DOM node was rendered by `InnerSlider```

[2015-09-10 15:17] vramana commented on #119
Thanks for the bug report! I'll fix it shortly.

[2015-09-10 20:15] vramana commented on #119
@tarkanlar This issue will be fixed in #120. So, I am closing this.

[2015-09-10 20:15] #119 closed

[2015-09-11 00:51] brennanerbz commented on #111
Any update on custom arrows?

[2015-09-11 01:35] vramana commented on #111
@abdelav The next Event handler works just props of your Custom arrow component to the actual DOM element.

@brennanerbz Custom arrows works. Just need to declare it correctly.

[2015-09-11 08:47] #111 closed

[2015-09-11 13:16] aiia opened #121 "Slick fails on iPad after the 1st action"
Hi,
Just tried demo page with iPad2 iOS 8.4.1, Safari and Mercury browsers.

Strange situation: sliders permit just one slide move and that's all - after that they do not react on any sliding or button touching - like they freeze.
After reload situation repeats.

And thank you for your work!
Iho

[2015-09-11 13:19] akiran commented on #121
Demos on the website are outdated and will update this weekend

Current version of react slick is working well on iOS devices

[2015-09-11 17:01] #121 closed

[2015-09-15 08:26] harryworld commented on #14
Should I copy the `fonts` and `ajax-loader.gif` manually, or I have a way to import that from `bower` using webpack?

[2015-09-15 09:28] vramana commented on #14
@harryworld We don't use ajax-loader.gif. We use fonts for Arrow icons. You can avoid fonts by using your own custom components. So, don't bother with that.

Hey, I am writing a more modern version of slick using flexbox [here][react-flex-slick]. It is pretty bare minimum at the moment because I literally started working on it today. You can try it out if you want. Ask for any features. It'll try

[2015-09-15 13:26] mmichelli opened #122 "Next slide method"
Expose next + prev methods or setIndex
Use case
Use the keyboard to navigate the slides.

[2015-09-15 14:27] harryworld commented on #14
@vramana thanks for the quick reply, definitely will take a look.

[2015-09-15 15:04] vramana commented on #122
@mmichelli You can achieve it like this. Add a `currentSlide` variable to the state of the component wrapping you slider which is passed as `intialSlide` prop to the `SlickSlider` component. Now add an  EventListener for keyboardDown on your top level component and invoke a setState change on it changing the currentSlide according to keyCode.

I am not working on this library at the moment. I have

[2015-09-15 15:10] kharandziuk opened #123 "Styles don't apply"
I'm trying to recreate the sample from documentation with Coffee:
[code]
but for some reasons I see ugly UI(see screenshot). What did I miss?
![scrn](https://cloud.githubusercontent.com/assets/3404755/9880600/ed9e4d00-5bd4-11e5-9d79-6f7b9cf3ec41.png)

[2015-09-15 15:16] vramana commented on #123
@kharandziuk This

[code]

[2015-09-15 15:24] #123 closed

[2015-09-17 08:10] #75 closed

[2015-09-21 09:56] LeoYuan opened #127 "Will transformsEnabled be back in 1.0?"
In China, we have some domestic mobiles which are buggy when using translate / translate3d, the positioned element with relative behaves incredibly weird~

Only left / top can be used in those mobiles, so you guys have any plan to bring `transformsEnabled` back?

[2015-09-22 00:39] chemoish opened #128 "Slider does not go to first slide when changing route with react-router"
SEE: https://github.com/akiran/react-slick/issues/85

I am changing the route using `<Link>` (provided by react-router), but when doing so it keeps the slider on the currentSlide (Even though the slider's data changes).

SEE: https://github.com/akiran/react-slick/issues/100
1. Navigate to item A page
2. Show a list of related items in the slider
3. Click on related item B
4. Navigate to item B pag

[2015-09-22 01:34] chemoish commented on #111
Do you have an example of this @vramana.

I haven't been able to configure it correctly. https://github.com/akiran/react-slick/pull/32

[2015-09-22 02:46] vramana commented on #111
@chemoish Let's say your custom arrow component is `CustomPrevArrow` then pass it as
`<Slider prevArrow={CustomPrevArrow} >`. This should work.

[2015-09-22 03:18] chemoish commented on #111
Did you have a chance to read the discussion of #32?

Unless I am missing something drastic, I don't believe it works.

The end goal is to add a simple `slick-arrow` class to the buttons.

[2015-09-22 03:39] vramana commented on #111
@chemoish Have you tried this or you are believing that it doesn't work? If it doesn't work, I can tell a fix for this.

[2015-09-22 03:57] chemoish commented on #111
I have tried a bunch of different implementations, including but not limited to…

[code]

I even copied the entire code for the `export default NextButton` inside `arrows.jsx`. No avail.

---

However, if you look at the code for...

https://github.com/akiran/react-slick/blob/master/src/inner-slider.jsx
https://github.com/akiran/react-slick/blob/master/src/arrows.jsx

[2015-09-22 04:07] vramana commented on #111
The name of the component has to start with a capital letter. React differentiates dom elements and React elements using this strategy. I have read about this somewhere. That may be the problem.

[2015-09-22 06:32] kuc2477 commented on #122
+1

[2015-09-22 06:48] vramana commented on #122
@mmichelli  @kuc2477 I think this is anti-pattern in react. Child components shouldn't expose methods that indirectly do setState. Wrap the slider in a parent component and pass the what ever slide you want as a `initialSlide` prop. You can listen to keyDown events from your parent component.

[2015-09-22 08:27] coyaniv opened #129 "Blank slide when using lazyLoad"
When I use lazy load, if I first click is to the left arrow, i'm getting white blank slide.

[2015-09-22 12:12] mmichelli commented on #122
ah ok. Will it behave the same when the user presses one of the arrows?

[2015-09-23 07:06] abellee commented on #5
it seems still happend to me.

[2015-09-24 21:29] kbariotis opened #130 "React peerDependency issue with 0.14.0-rc1"
[code]

[2015-09-25 03:38] playtocrazy opened #131 "error on npm install (error react-slick@0.7.2 prepublish....)"
I got the error messages when npm install, would you please give some tips?

128506 error argv "C:\\Program Files\\nodejs\\\\node.exe" "C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "install"
128507 error node v0.12.4
128508 error npm  v2.10.1
128509 error code ELIFECYCLE
**128510 error react-slick@0.7.2 prepublish: `babel ./src --out-dir ./lib && ./node_modules/.bin/gulp dist`
12

[2015-09-25 03:44] akiran commented on #131
@playtocrazy  How did you try to install ?

Have you run this command in your project ?
[code]

[2015-09-25 03:55] playtocrazy commented on #131
@akiran
I just clone this project and run `npm install`.
Does it have to run `npm install react-slick` before `npm install` ?
thank your reply.

[2015-09-25 04:00] akiran commented on #131
@playtocrazy
Can you install babel globally and then run `npm install` in the cloned repo
[code]

[2015-09-25 04:09] playtocrazy commented on #131
I tried your instructions, but it still give me the same error messages.

[2015-09-25 08:43] dmitry opened #132 "Thumbnails mode"
Does someone interested to accomplish something like that:
https://github.com/kenwheeler/slick/pull/648

Another solution is to make two slicks connected, so every state change in one will be automatically transfered to the other.

[2015-09-25 08:45] dmitry commented on #130
https://github.com/akiran/react-slick/blob/master/package.json#L61 should be upgraded.

[2015-09-25 08:51] dmitry commented on #102
Looks like could be closed now after https://github.com/akiran/react-slick/pull/110 was merged.

[2015-09-25 09:26] playtocrazy commented on #131
@akiran
Hi, I give up to find the solution for this error,
Instead, I build one new project and run `npm install react-slick`,
and do some test code with *require react-slick*, now it works fine!

thanks for your support.

[2015-09-26 02:13] dptoot commented on #122
While I agree exposing is an anti-pattern, has anyone actually got this to work?  I have an example where a parent component is setting the initialSlide index of an react-slick instance to a parent state value but upon a setState to update that value nothing happens.

[2015-09-26 02:23] vramana commented on #122
@dptoot Your method wont't work because currently one of the problems with `react-slick` is it does a lot of imperative manipulations behind the scenes. And you should never do setState of child from the parent component.

You have to pass the your currentSlide value as `initialSlide` prop to the Slider component which will trigger [this line](https://github.com/akiran/react-slick/blob/master/src/

[2015-09-26 02:27] dptoot commented on #122
@vramana Please forgive but I believe that is what I am doing.  Or at least trying to do.  Parent has state value of slide index that it passes to child slider component as initialSlide value.  I am just not seeing any effect on update of Parent state.  If this has been validated as possible and working then I am sure it must be something on my side, I am just not sure what.

[2015-09-26 02:28] vramana commented on #122
@dptoot Sorry I misread your comment I guess. Let me check.

[2015-09-26 02:35] dptoot commented on #122
@vramana Much appreciated.  :)

I have boiled it down to a pretty basic scenario of a button updating my parent state and I can verify that I am passing a new intialSlide index prop to the slider.  But it does not seem to be updating.  My hope is that you find an issue as I can't see where I might be going wrong on my end.

Thanks again for the quick response!

[2015-09-26 12:48] dptoot commented on #122
@vramana I took a look this morning and I think you are right about everything although in the update method I am not seeing any assignment of currentSlide to props.initialSlide here[Github](https://github.com/akiran/react-slick/blob/011dc2b0c0eecd8756511c184afd6a0e866672f4/src/mixins/helpers.js#L46).  My assumption would be just updating that as is done in init method would do the trick... right?

[2015-09-26 19:59] dptoot commented on #122
I have submitted a [pull request](https://github.com/akiran/react-slick/pull/133) with a new demo addressing this functionality.  First contribution... be easy on me! :)

[2015-09-28 08:42] jordansexton commented on #129
+1. It also affects swiping to the right (to reveal the items to the left).

[2015-09-28 16:20] jeffcatania commented on #97
I am experiencing this same issue.  Any work around found?

[2015-10-02 15:11] martingg88 opened #135 "AMD style"
can it work with javascript amd style?

[2015-10-02 16:19] akiran commented on #135
Yes,  you can use files in dist folder to work with AMD format

[2015-10-02 23:33] xizhao commented on #122
There should be an option to manage current slide in the parent, and pass it down as a prop instead of having it tracked as state inside of the slider

[2015-10-03 01:36] akiran commented on #122
yes, I will try to get this feature working this weekend

On Sat, Oct 3, 2015 at 5:03 AM, xizhao <notifications@github.com> wrote:

[2015-10-03 10:54] dptoot commented on #122
@akiran My pull request does allow the current slide to be updated via passing a new initialSlide prop.  I of course defer to you guys as to whether it was the correct implementation.  Originally I had it just updating current slide on update but in my opinion users are going to expect to see some animation to that slide as they would any control based interaction.

[2015-10-03 19:23] mikhuang opened #136 "setState in beforeChange disables slider"
I'm trying to call setState on the parent component in the beforeChange callback. This seems to disable the slider. However, calling setState in the afterChange callback works fine. Any ideas? Also, is there a jsfiddle that has a barebones setup of react-slick in it? I couldn't quite get one working.

[2015-10-05 05:41] zulkamal opened #137 "Slider crashes while swiping concurrently with viewport scrolling"
Having this issue on:
- Chrome iOS.
- A single item slider

Steps to reproduce:

1. Swipe (left or right) on a slider.
2. Swipe up or down to concurrently scroll the viewport
3. Continue swiping to the end of the slider.
4. The slider moves to the next slide but now all touch, button mechanisms are lost. Slider is effectively crashed until page is refreshed.

The simple fix I did was to exit swipe

[2015-10-05 19:20] matthewkesler commented on #122
+1. Programmatically changing the slide with ```initialSlide``` does work but we lose the ability to use transitions. A ```currentSlide``` prop would be great!

[2015-10-05 22:05] ScratchJeff opened #138 "dragging causes component to fail after x swipes with infinite slides"
i've noticed on both our app and on the demo site, dragging/swiping causes the slider to become unresponsive after a number of successful swipes.  no js errors to be found.

[2015-10-06 15:59] dramoturg commented on #72
Hi, this problem is still active
you do not understand it?

[2015-10-06 22:49] robcolburn opened #139 "Tags"
Looks like npm knows about a couple versions that GitHub does not. Can push those for our bisecting? :)

[2015-10-07 07:11] zulkamal commented on #138
Is this related to #137? I outlined a possible permanent fix. Think you can use useCSS: false in the meantime.

[2015-10-07 23:45] msalli commented on #111
The click event wasn't working for me at first as well, but figured out that you need to pass this.props.onClick to your custom component. I think that's what @vramana was trying to say, but I didn't understand. (You can also pass {...this.props} and it works just the same.)

My code looks like this and the event is working!
[code]

[2015-10-08 00:08] chemoish commented on #111
Thats what `this.props` was doing. I was trying to override the className. Everything else is fine.

[2015-10-08 09:36] Pave91 opened #140 "Slider freezes after adding and removing items"
When I  manipulate with items (add or remove items many times) through state (I have own state for items) and meanwhile user click on next arrow, carousel freezes and it's not possible to move slider back or forward. I load next items through ajax.

[2015-10-08 14:28] nutank commented on #140
I am facing the same issue. If the browser is kept open for long and if we get back to the same page, the slider freezes and its not possible to move between slides

[2015-10-08 14:34] nutank opened #141 "centerPadding is not getting applied for centerMode slick slider."
Hi,

We are using slick react component for displaying slides in the center mode. And we needed to apply center padding for the slides. I am assuming this is not supported by the react-slick component yet.

It would be great if this could be supported anytime sooner.

@akiran Could this feature be added at the earliest please?

Thanks a lot!

[2015-10-08 15:40] danielbuechele commented on #140
For me, this happens when clicking on the next/prev arrow while another slide transition is running. I am not changing the contents of the slider.

[2015-10-09 21:37] scriptype commented on #51
Hi, `focusOnSelect` doesn't function for my case. I'm using react.0.13.3 and react-slick.0.8.0

sliderSettings:

[code]

initializing:

[code]

where `<Item />` is:

[code]

[2015-10-11 21:48] amoenk commented on #136
I can corroborate this. Any setState call from within the beforeChange will cause the slider to update exactly once without animating. No further clicks to the next or previous buttons will change the current slide. This occurs even if the changed state property is not related to the slider.

[2015-10-12 09:12] boyw165 opened #143 "Warning: cloneWithProps(...) is deprecated. Please use React.cloneElement instead."
I use latest version on the npm server and it shows this warning.

[2015-10-13 21:53] enjoylife opened #145 "responsive docs"
The readme states the breakpoints should be ordered from smallest to greatest, yet the code for the demos has them ordered from greatest to smallest. Which one is it?

[2015-10-14 02:16] akiran commented on #145
Demo is correct.

[2015-10-14 12:37] manuelmazzuola opened #146 "Warnings with react 0.14.0"
Hi !
With the new version of react I've got a lot of warnings

[code]

[2015-10-14 14:38] #135 closed

[2015-10-14 14:39] #131 closed

[2015-10-14 14:39] akiran commented on #130
Fixed this

[2015-10-14 14:39] #130 closed

[2015-10-14 14:49] rkoberg commented on #146
I just posted a pull request that fixes these issues: https://github.com/akiran/react-slick/pull/147

[2015-10-14 18:26] akiran commented on #145
@enjoylife  Actually order doesn't matter because they are sorted in code
https://github.com/akiran/react-slick/blob/master/src/slider.jsx#L20

[2015-10-14 18:26] #145 closed

[2015-10-15 09:44] danielbuechele commented on #140
What I found out is. The slider freezing is caused by `this.state.animation` on `InnerSlider` not being set back to `false`. However, I didn't found a fix for this yet. To me it looks like some kind of concurrency problem where e.g. the callback that should set `animating` to `false` is fired to early.

[2015-10-15 09:49] akiran commented on #140
Thanks for digging into the issue.
I will try to fix it today

On Thu, Oct 15, 2015 at 3:14 PM, Daniel Büchele <notifications@github.com>
wrote:

[2015-10-15 11:48] Pave91 commented on #140
Perfect! Thank you guys.

[2015-10-17 11:55] dptoot commented on #122
Any update on this.  I am not convinced that my pull request properly addresses the  issue but we are running into a lot of issues around this behaviour.

[2015-10-17 12:48] rkoberg commented on #122
I had tried using the initialSlide, but as mentioned, it is no longer slick. I also needed the buttons outside of the slick container. Apparently with slick slider outside of react you can pass selector options for the the buttons and they can exist outside of the slick container (at least that is what my designer has given me).

To work around this I use the slick buttons, but they are display:no

[2015-10-18 15:03] dptoot commented on #122
This seems like a possible workaround for nextSlide but what we really need is a prgmatic way to assign the currentSlide.  My use case can't assume the control is only requesting the next slide but is assigning the currentSlide based on its index.  Having it animate to that location would make sense.

[2015-10-19 18:09] robcolburn commented on #139
Hola

[2015-10-20 16:24] akiran commented on #140
Added fix proposed by @danielbuechele and released 0.8.1
@Pave91  @nutank  Please check if it solves your problem.

[2015-10-20 17:21] karlnp opened #150 "Can't include library in 0.8.1"
Not sure what would cause this... here's the Webpack output.

ERROR in ./app/jsx-templates/coinStore.jsx
Module not found: Error: Cannot resolve module 'react-slick' in (project dir)
 @ ./app/jsx-templates/(class).jsx 11:13-35

[2015-10-20 17:28] karlnp commented on #150
Goes away when I manually specify the route to the /dist/react-slick.min.js file, doesn't work with the unminified version. Weird.

[2015-10-21 03:52] danielbuechele commented on #140
I think you need to also remove the lock from this part (https://github.com/digitalegarage/react-slick/commit/a5fe2a75bf8535157cc901bbc148932288b71460) Also I am wondering what the lock was for in the first place and if it makes sense to remove it completely or would something break if it is removed?

[2015-10-21 08:23] Pave91 commented on #140
SItuation is better now, but still in some situations carousel freezes. I'm wondering the same thing like @danielbuechele .

[2015-10-22 19:17] resendefreitas commented on #47
+1

[2015-10-23 02:35] akiran commented on #146
Checkout react-slick@0.9.0-rc1 version

[2015-10-23 02:35] #146 closed

[2015-10-23 02:35] akiran commented on #143
Checkout react-slick@0.9.0-rc1

[2015-10-23 02:35] #143 closed

[2015-10-26 03:24] jjalonso commented on #140
setting a state prop on beforeSlider event, that dont have nothing to do with the slider. also frezee it.

[2015-10-26 03:32] jjalonso commented on #136
here the same bug.

[2015-10-27 07:19] laxplaer opened #156 "IE9 Object doesn't support property or method 'assign'"
IE9 Object doesn't support property or method 'assign'

[code]

To be more concrete it is only in 0.9.0-rc1

[2015-10-27 11:31] wmf23 commented on #122
I am seeing the same issue. I do set the initialSlide to a different index than 0 but the component does not slide.

[2015-10-27 13:06] alexander37137 opened #157 "Not working with React 0.14 with version 0.9.0-rc1"
failing with such error on initialisation
[code]

When I replace internal _reactDom2['default'].findDOMNode with global function ReactDom.findDOMNode it works ok

[2015-10-27 16:49] le0pard commented on #156
Have the same issue

[2015-10-27 17:13] collinwu opened #158 "Bunch of warnings using with react 0.14"
ReactDOMComponent: Do not access .getDOMNode() of a DOM node; instead, use the node directly. This DOM node was rendered by `InnerSlider`.

<img width="555" alt="screen shot 2015-10-27 at 10 13 12 am" src="https://cloud.githubusercontent.com/assets/6867357/10766168/62023cfe-7c93-11e5-8db5-53029d8bbd52.png">

[2015-10-28 10:37] laxplaer commented on #158
Use 0.9.0-rc1 version with 0.14 react..

[2015-10-28 11:46] alexander37137 commented on #157
Actually it seems problem that react-slick use react dom integrated inside lib. It have version 0.14.0-rc1 and it do not work well with external react 0.14. Why it do not use React dom is external dependency?

[2015-10-28 14:06] websilone opened #159 "Slider childrens classNames are not merged anymore in 0.9.0-rc1"
I know 0.9.0-rc1 is still under development but here is a little issue.

Having className on slider children elements (which will become the .slick-slide), it seems these classNames are not merged anymore with the new ones.

From what I saw in the changes between 0.8 and 0.9, in track.jsx, line 70, 0.9 is using React.cloneElement where 0.8 was using cloneWithProps.
So it's probably an intern chang

[2015-10-28 15:40] akiran commented on #159
yes, I will look into this

[2015-10-28 16:15] websilone commented on #159
if this can help, here is what I came up with.

In track.jsx, in the renderSlides method, line 69 :

var slickClasses = getSlideClasses(assign({index: index}, spec));
    var cssClasses;

    if (child.props.className) {
        cssClasses = classnames(slickClasses, child.props.className);
    }
    else {
        cssClasses = slickClasses;
    }

    slides.push(React.cloneElement(child, {

[2015-10-29 06:00] missrhyme commented on #157
I have the same problem, so I have to use the version 0.8.0.

[2015-10-29 07:23] websilone commented on #157
Hi,
I'm using React 0.14.0 and it's working fine with react-slick 0.9.0-rc1 (except a little issue I logged yesterday).

At least there is no warning anymore.

[2015-10-29 07:26] websilone commented on #156
IE10 doesn't support it either.

Using babel already, I pulled in the babel polyfill which handles this.
It's working fine now (on IE10 at least, didn't try it yet on IE9).

[2015-10-29 07:54] laxplaer commented on #156
Thank you for the tip about that polyfill. I have used https://github.com/paulmillr/es6-shim and it works just fine.

[2015-10-30 01:53] dfala commented on #159
@websilone +1 -- classNames not merged

[2015-10-30 17:01] bwolvin opened #162 "Carousel Can Become 'Stuck' in between 2 images - 0.9.0-rc1"
On a mobile device swiping halfway to the next image in a carousel and then dragging down causes the carousel to become stuck showing half of both of the images.

[2015-11-02 08:36] akiran commented on #157
Merged #161

[2015-11-02 08:52] akiran commented on #159
It is fixed with #161

[2015-11-02 08:52] #159 closed

[2015-11-02 08:52] #158 closed

[2015-11-02 08:53] #150 closed

[2015-11-02 08:54] akiran commented on #122
Now you can use slickGoTo  prop for this use case

[2015-11-02 08:54] #122 closed

[2015-11-02 15:43] alexander37137 commented on #157
I updated to 0.9.0 and It is still not working with same error

React dom inside react slick still 0.14.0-rc1

![image](https://cloud.githubusercontent.com/assets/5341567/10886070/71648eba-8191-11e5-9335-217bd8a61e37.png)

[2015-11-03 00:14] robcolburn opened #165 "React 0.13 Broken for 0.8.x"
Just happened over the weekend all versions of 0.8.x break my automated tests that touch React Slick in a React 0.13 project. Downgraded to 0.7.2 to avoid the pain.

[code]

[2015-11-03 04:31] akiran commented on #157
#164 might fix this issue.

I will review and merge it

[2015-11-03 12:15] smwhit commented on #156
slides.push(_react2['default'].cloneElement(child, {
      key: index,
      'data-index': index,
      className: getSlideClasses((0, _objectAssign2['default'])({ index: index }, spec)),
      style: Object.assign({}, child.props.style || {}, childStyle)
}));

I think Object.assign should be replaced with _objectAssign

[2015-11-03 16:02] akiran commented on #157
@alexander37137 Can you checkout react-slick@0.9.1 and see if your issues are resolved

[2015-11-03 16:03] akiran commented on #156
Object.assign issue is fixed in react-slick@0.9.1

[2015-11-03 16:03] #156 closed

[2015-11-03 20:52] jordansexton commented on #165
+1

I was running `"react-slick": "0.8.2"`, so something happened that
- introduced a breaking change in a patch version of what is claimed to be known-good @ https://www.npmjs.com/package/react-slick
- overwrote an existing semver release on NPM

How did this even happen?

[2015-11-04 00:53] robcolburn commented on #165
@jordansexton,
So, NPM versions cannot be overwritten, but… in s module's package.json you can loosely specify the modules the this particular module depend on. Npm provides the ability to say, "this version plus any patch versions after it" (`~`), or even "this version or any minor versions after it" (`^`). When you install a version'd module, npm grabs the latest applicable dependencies with it.

[2015-11-04 03:52] akiran commented on #165
can you post your error messages here

On Wed, Nov 4, 2015 at 6:23 AM, Rob Colburn <notifications@github.com>
wrote:

[2015-11-04 03:54] jordansexton commented on #165
Mine is identical to @robcolburn's OP:
[code]

[2015-11-04 04:32] robcolburn commented on #165
I've meaning to do some deeper debugging. For now, (based on some console.log statements) what I know is:
* we get inside Slider's render function, and inside the conditional to create an InnerSlider
* we do not reach InnerSlider's render function

I haven't figured out to trigger node's repl debugger while running mocha. For now, reverting to 0.7 is working for me.

[2015-11-04 04:36] akiran commented on #165
@robcolburn Are you seeing this issue with 0.8.1 as well ?
Last week end I released 0.8.2.  It may have problem but 0.8.1 should be fine

[2015-11-04 04:40] robcolburn commented on #165
@akiran - started occurring on 0.8.1, attempted 0.8.2 and 0.8.3 before going back to 0.7.2

[2015-11-04 04:44] jordansexton commented on #165
I was on 0.8.2 using React 0.13.3, and it was stable. I'm also running 0.7.2 now.

[2015-11-04 07:20] Pave91 commented on #111
What if I want to add new functionality to onClick event of arrows? Does it exist any way how to keep functionality of arrow and at the same time add my own on the top of it?

[2015-11-05 06:34] alexander37137 commented on #157
@akiran There is error when importing react dom from window object.
now it looks like this
[code]
but should be
[code]

I manually changed it and it start working. Can you please fix it

[2015-11-05 06:46] akiran commented on #157
Yes, It is fixed in master. Need to make a npm release.

On Thu, Nov 5, 2015 at 12:04 PM, Alexander Andreev <notifications@github.com

[2015-11-05 09:52] vFix opened #167 "arrows do not show up"
I use  react@^0.14.0 and  react-slick@^0.9.1
pre and next arrow do not show up.
my setting is:
[code]
And in my index.html, i introduce the slick css and slick-theme.css
[code]

[2015-11-05 10:15] websilone commented on #167
Are you sure the css files are not returning 404 ?
If there are not, check if there is not a conflict with your css rules and something with the z-index perhaps.
Do you see the button nodes in the DOM at least ?

[2015-11-05 15:11] AxisWhistle commented on #167
css files are not returning 404. And the button nodes are in DOM.
[code]
I guess it is because the z-index. But i don't know how to add custom css rules to buttons of the slider component it as i am new to react.

[2015-11-05 15:19] akiran commented on #167
Have you included font files ?

On Thu, Nov 5, 2015 at 8:41 PM, 十二 <notifications@github.com> wrote:

[2015-11-05 16:32] websilone commented on #167
You can add a custom css classname to the slider with the className param in the settings object.
Then you can easily target the buttons(.myCustomClass .slick-prev, .myCustomClass .slick-next) and change the z-index property.

[2015-11-05 21:08] mmmurf commented on #157
@akiran excellent

[2015-11-05 22:54] mikecastro26 commented on #165
Same issue happening here.

[2015-11-06 05:11] dinnagonzales opened #168 "Warning: This JSX uses a plain function. Only React components are valid in React's JSX transform."
Hello! I'm excited to play with this add-on but I can't seem to get pass this hurdle. Any help would be much appreciated. Thank you!

<img width="968" alt="screen shot 2015-11-05 at 9 06 46 pm" src="https://cloud.githubusercontent.com/assets/7061542/10989852/53a36a28-8401-11e5-8f12-8acce6044323.png">

[code]

[2015-11-09 09:25] kuy opened #169 "Freeze autoplay carousel in Demo page"
I didn't dig this issue why it occurred, but I'd like to report and note steps to reproduce.

*Steps to reproduce*

1. Open [Demos](http://webrafter.com/opensource/react-slick) page in Chrome
1. Scroll down to Autoplay carousel
1. Keep Demos tab, and switch to other Chrome's tab
1. Wait 5 minutes
1. Back to Demos tab
1. Autoplay carousel is stopped

[2015-11-09 19:48] gbrassey commented on #165
Same issue here with `react 0.13.3`. Had to roll back to `0.7.2`.

I get the issue with `0.8.0` and up.

[2015-11-10 07:44] laxplaer commented on #169
+1

[2015-11-10 12:56] alexander37137 commented on #157
@akiran When do you plan release it?

[2015-11-10 13:07] akiran commented on #157
Its already released

On Tue, Nov 10, 2015 at 6:26 PM, Alexander Andreev <notifications@github.com

[2015-11-10 23:58] jcemer commented on #139
@akiran :+1:

[2015-11-11 21:37] ccorcos opened #170 "Webpack > Bower"
I see you're reusing the the styles from slick, but it seems to me like you may as well just require those styles thgouth webpack!

[2015-11-12 20:08] brenoc commented on #139
That would be really helpful to find out if the project published new versions and changelogs.

[2015-11-12 23:22] hydrotik opened #171 "Typescript definition files?"
I'm using this in a react typescript project and wondered if you have any plans to include this or push to TSD?

[2015-11-13 00:49] d-oliveros commented on #165
Same here

[2015-11-13 00:50] rakeshok commented on #165
Same issue here

[2015-11-13 00:51] jorgeartware commented on #165
yeah, me too :confused:

[2015-11-13 01:05] archr commented on #165
+1

[2015-11-13 09:27] akiran commented on #165
I will look into this today

[2015-11-13 17:25] pattard opened #172 "getBoundingClientRect disables CSS transitions"
If used inside CSSTransitionGroup react-slick prevents the transition from happening. The issue seems to only happen in Chrome.

Apparently (maybe) React has an issue with getBoundingClientRect (https://github.com/facebook/react/issues/3672) and it is used in initialize method here https://github.com/akiran/react-slick/blob/c6b612fa5c05e49572db97c13ab0af9c50aaa702/src/mixins/helpers.js#L65

Wrappi

[2015-11-14 00:14] d-oliveros commented on #165
awesome, thanks

[2015-11-14 00:14] rakeshok commented on #165
Counting on you :+1:

[2015-11-14 00:17] jorgeartware commented on #165
sweet, can't wait :moyai:

[2015-11-14 01:34] dsalehipour commented on #165
Awesome thank you, looking forward to the update!

[2015-11-14 09:25] akiran commented on #165
react-slick@0.9.2 now works with both react 0.13, 0.14.
Please check and let me know if your issues are resolved

[2015-11-15 14:53] akiran commented on #172
This issue is fixed in latest release.
Can you check.

[2015-11-15 14:53] #172 closed

[2015-11-16 16:17] gbrassey commented on #165
Still having trouble with react-slick@0.9.2 and react@0.13.3

[code]

[2015-11-16 16:20] akiran commented on #165
@gbrassey  Can you post the example which is failing here ?
All demos worked well with react@0.13.3

[2015-11-16 17:09] gbrassey commented on #165
I'm stumped. I can't get anything to work. Even something simple:
[code]

from package.json:
[code]
Maybe webpack related?

[2015-11-16 20:55] hydrotik opened #173 "Export/Import issue in Typescript project"
I needed to change:
[code]
In lib/index in order to support in my Typescript project the following:

[code]
And:
[code]

Also my current type def is working with:
[code]
But could be tightened up. Also related https://github.com/akiran/react-slick/issues/171

Seems like this is a breaking change, but I can't find any other way to get this to work with this setup. Any problems with this type of exp

[2015-11-17 07:32] JianGuo222 opened #174 "slider translate3d X going crazy after leave it running in a chrome tab behind other tabs"
the slick-track transfrom:translate3d(x,y,z)

the x keeps accumulating after leave the chrome tab running in the behind, once come back to the chrome tab, the slider is completely gone to the left, like -12312454px.

[2015-11-17 07:34] JianGuo222 commented on #174
tried to solve it by reset the translate3d of .slick-track to (0,0,0), but seems there is a hidden internal variable that remembers the accumulated value, and still slides to blank after the reset

[2015-11-17 07:36] JianGuo222 commented on #174
probably need a static function that can easily reset the whole slider

[2015-11-17 08:01] JianGuo222 commented on #174
one solution is hack the trackHelper.js, use these 2 lines instead:

WebkitTransform: 'translate3d(' + (spec.left % trackWidth) + 'px, 0px, 0px)',
transform: 'translate3d(' + (spec.left % trackWidth) + 'px, 0px, 0px)',

hopefully, this can be built into the next release

[2015-11-18 05:25] ShardPhoenix commented on #167
I had the same problem. It turned out to be due to the buttons using white font for the text, while I was using a white background. I fixed it using the method suggested by websilone, except changing 'color' instead of z-index.

[2015-11-18 15:19] bvasko opened #175 "react-slick discussion"
Thoughts on adding a channel for react-slick to reactiflux?

[2015-11-18 17:37] williamle8300 commented on #165
@gbrassey are there any console errors?

[2015-11-19 22:33] jon-bloomerang commented on #48
Any update on when this will be added?

Changing the slickGoTo prop does change the slide, but there's no transition between slides like you get with the dots or the prev/next buttons. Or is there another way to programmatically change the slide with a transition between? Thanks!

[2015-11-19 23:34] robcolburn opened #176 "Event hook to communicate user intent"
React slick has events for `beforeChange` and `afterChange`, which is great however those abstract out whether the event was due to user swipe or timeout.  For analytics purposes, I'd like to understand: how users are interacting with carousels on the site, which carousels inspire more user interactivity, if/how much user interactivity "converts" (technically, in my case, I'm really looking at con

[2015-11-20 22:18] donaldparker commented on #169
+1

[2015-11-23 03:55] donnguyen commented on #128
Yep, I am facing the same issue here.

[2015-11-23 22:18] mklb commented on #29
@yuzeh thanks for your fix... tried hours to get this working ;D

[2015-11-24 07:41] soulwu opened #177 "child's className prop lost when clone slides in infinite mode"
[L90-L108](/akiran/react-slick/blob/0.9.2/src/track.jsx#L90-L108)
The lines above clone preCloneSlides and postCloneSlides when using {infinite: true}, but I found it just ignore original child's className prop.

is it an issue?
if so, I could fix it and push a pull request.:smile:

[2015-11-24 18:12] dheniges commented on #165
Confirming we are seeing the same issue. A coworker installed `0.9.2` last week and it runs fine, but installing it yesterday and today is throwing this error.

Running `npm shrinkwrap` produces different outputs between the older and newer installs, with new installs showing the full react 0.14 dependency tree, so wondering if this is an issue with react 0.14?

[2015-11-25 08:22] soulwu opened #179 "error `currentSlide` increased in deactive window"
with props
[code]

helper will run `autoplay` by `setTimeout` and increase the `currentSlide` state
but when I deactivate the window and turn it into background, css transition won't run, and no transitionEnd event triggered.

[helpers.js#L252](/akiran/react-slick/blob/0.9.2/src/mixins/helpers.js#L252) would increase the currentSlide but can't adjust to corrent index [helper.js#L204](/akiran/react

[2015-11-26 00:12] RachMulvey commented on #47
+1

[2015-11-27 08:24] laxplaer commented on #174
+1

[2015-11-27 14:59] easga commented on #174
I experience it too. i also see that, if i click too fast, x is accumulating in a similar fashion and my items get lost. if i click slowly, there is no problem but if i click fast every single click moves it to an X which gets the items off screen instead of resetting in the end of the cycle. However, the first example in demo seems to work fine. It ignores consecutive clicks as it should. Does an

[2015-11-28 11:49] tnrich opened #180 "option to temporarily disable forward/back arrows and dots"
I'd like to be able to, based on a prop passed in to the component, disable the forward arrow, the back arrow, or both at the same time. Does anyone know if there is there a way to do that?

Thanks!

[2015-11-28 12:11] tnrich commented on #180
Doesn't look like the functionality I want exists yet, so I'll try PRing it. It looks like the test suite isn't totally functional yet, so I hope I'm not breaking anyone else's work...

[2015-11-28 19:16] nslobodchuk commented on #97
+1
I encountered an issue when placing the Slider into a flex with horizontal flow. Didn't find a workaround.

[2015-11-29 22:13] JianGuo222 commented on #174
yeah, @easga , I had the same issue. my fix is add a disabled classname to the carousel in beforeChange event, then remove the disabled classname in afterChange event. and just use pointer-event: none on the disabled class.

[2015-11-29 22:21] JianGuo222 commented on #174
also the translate3d hack above does have minor issue as well, which is after a slide slides in, the slide might flick into a different slide.

[2015-11-30 16:33] sassanh commented on #83
I'm having issues with rtl too. it only shows first slide and if I move to next slides, the div with slick-track class moves to left instead of moving to right so the div with slick-list class goes empty and nothing is visible at all (except next and previous buttons) look at this:

https://www.dropbox.com/s/lnfa5uvxyxc17oa/Screenshot%202015-11-30%2020.01.14.png?dl=0

the first argument of transla

[2015-11-30 16:50] PBRT opened #181 "add a custom state for custom arrows"
Could it be possible to add custom props when using custom arrows (like an array/object or something)?  I'd like to animate my arrows on hover. A ```this.props.isVisible```would be perfect for that, transmitted from the ```<Slider>```comp.

I have the following code :

[code]

I'd like to pass the ```this.state.isVisible``` in the settings object for reaching the Arrow comp. However, this addition

[2015-11-30 20:03] mmmurf commented on #140
this appears to not be fixed as of 0.9.2

[2015-11-30 22:09] gbrassey commented on #165
react-slick@0.9.2 is including react@0.14.3 even though my project is using 0.13.3. The error is likely caused by two competing versions react. The project works if I delete `node_modules/react-slick/node_modules/react` (react-slick falls back to react@0.13.3).

[2015-12-01 00:10] tnrich opened #184 "Internally updating slide height lags when using adaptive height"
Hey there,

I'm noticing that if my slides try to manage their own height (by calling setState internally for example), the adaptive slide height doesn't update correctly. Only on the next setState call does the height get updated correctly.

Here's some example code that reproduces the issue:
the slider component:

[code]

the slide:

[code]

[2015-12-01 00:12] tnrich commented on #184
I believe it is caused because the `adaptHeight` method is called before the slide has been re-rendered. Thus, I think wrapping the adaptHeight function in a setTimeout of 0 will fix this issue:

[code]

[2015-12-01 02:28] tnrich opened #185 ""tabbing" between slides breaks carousel"
Currently if there are multiple input boxes spanning multiple slides, tabbing between them causes the carousel to get stuck halfway between slides. This should definitely not be the default behavior.

Also, does anyone know if there is a way to prevent "tabbing" between inputs on separate slides altogether?

[2015-12-02 09:40] tnrich commented on #175
+1 I would love to have somewhere to talk to real-time about new features/configs I'd like to add to react slick

[2015-12-02 09:41] tnrich commented on #175
What needs to be done to make a channel? Can anyone do it?

[2015-12-02 11:06] ChrisCinelli commented on #174
@JianGuo222: I see the flickering even without the hack. That is not introduced by your "hack". I would actually put in a pull request.

[2015-12-02 13:03] Dombo commented on #4
@akiran Could you also move react-dom to a peer dependency?

[2015-12-02 14:18] bvasko commented on #175
There is a reactiflux channel for new-channel-requests. Based on previous discussions it looks like the request should come from the maintainer. Gitter is also an option. I think anyone can start a gitter room.

[2015-12-02 14:23] bvasko opened #186 "slickGoTo full implementation"
What work is left for slickGoTo? I know there is some code in there for it - I am currently using it. The documentation has it listed as not supported yet. I know if I turn on lazyLoading the slide will not render with slickGoTo if it had not been previously loaded. And it currently lacks animation. Are there any other issues that need to be resolved for this feature to be considered done?

[2015-12-02 14:43] akiran commented on #175
Let us start using gitter

On Wed, Dec 2, 2015 at 7:48 PM, Bonnie DiPasquale <notifications@github.com>
wrote:

[2015-12-02 14:47] darkalor opened #187 "draggable should not move slides when fade is on"
When both `draggable` and `fade` are on slides transition with fade, but dragging still changes the horizontal position, so e.g. you can move you slide outside the screen.

[2015-12-02 17:46] tnrich commented on #175
Gitter sounds good to me

On Wed, Dec 2, 2015, 6:43 AM Kiran <notifications@github.com> wrote:

[2015-12-02 20:15] bvasko commented on #175
Sounds good to me. @akiran should open it so the room shows up under his github handle

[2015-12-02 21:40] ChrisCinelli commented on #187
+1 I think this PR would fix it - https://github.com/akiran/react-slick/pull/30 - Not sure why @akiran did not merge it when it was submitted in March..

[2015-12-02 21:51] ChrisCinelli commented on #165
@gbrassey and @akiran : React should be a `peerDependency` (here they discuss the problem: https://github.com/yahoo/react-intl/issues/79 ). If you specify a react version in `devDependencies` or `dependencies`, react-slick will work only with that version. Check also https://medium.com/@dan_abramov/two-weird-tricks-that-fix-react-7cf9bbdef375#.3l87qpsws

[2015-12-02 21:53] ChrisCinelli commented on #157
@akiran if this is solved can you close it?

[2015-12-03 01:23] tnrich commented on #122
@akiran , does the slickGoTo prop still have a smooth transition between slides? From what I can tell, it does not..

[2015-12-03 01:53] wmf23 commented on #122
Yes, I also notice that. The transition is not smooth.

[2015-12-03 12:11] ankur0890 commented on #141
Yes this is not working. If I am adding margin manually to slick-slide container height is increasing abruptly. Any work arounds?

[2015-12-03 17:42] mmmurf commented on #175
+1

[2015-12-03 19:58] gbrassey commented on #165
thanks for the info and references @ChrisCinelli

[2015-12-05 16:22] #165 closed

[2015-12-05 16:38] akiran commented on #175
created a gitter room https://gitter.im/akiran/react-slick

[2015-12-05 16:38] #175 closed

[2015-12-08 19:40] i8ramin commented on #129
+1

[2015-12-08 19:40] rfarine commented on #129
+1!

[2015-12-09 11:34] mping opened #191 "Configurable lazy load"
Hi,

Do you have plans to allow preloading a defined set of images? With lazy load, the image loading is noticeable when you move to the next slide.

Ideally you would supply a param specifying how many components should be prerendered before and after the current slide.

[2015-12-10 00:55] hydrotik commented on #173
Anybody? :)

[2015-12-10 14:38] #157 closed

[2015-12-11 03:40] JpnW commented on #167
I had the same issue that the arrows didn't show. It turned out that my problem was about the position of the arrows. I added a css classname to the settings object and changed the posiiton of arrows. Below is my settings object and sass code.

   var settings = {
                dots: true,
                infinite: true,
                speed: 1000,
                slidesToShow: 1,

[2015-12-11 13:37] littlee opened #195 "Can react-slick support mobile device?"
I test it in chrome emulator, it does not work.(can not swipe)

[2015-12-11 21:07] foxeil opened #196 "When clicking on a dot, before/afterChange are not fired"
i'm using setState inside beforeChange, and it works perfectly with the autoplay, but when i click on the navigation dots, beforeChange is not fired, and therefore my state stays the same until the next image is displayed by the autoplay

[2015-12-12 00:05] reintroducing commented on #195
I tested it on my iPhone 6+ and it worked fine (with the exception of the fade demo at the bottom, that works slightly wonky).

[2015-12-13 14:09] lauffenp commented on #78
I'm having a similar issue:

Hey, here's an example of the problem I'm having:

    getVidElement: function (vidId) {

    var video = this.props.Annotation[vidId];

    var vidElement;

      vidElement = <Video video={video} />;

    return (<div   key ={video.id.objectId} >
        {vidElement}
        </div>);
     },

     render: function () {
           var vidElements = this.getListOfVidId

[2015-12-14 10:53] lauffenp commented on #78
Ok, so I removed an unnecessary level of children and it still doesn't work...:

    getListOfVidIds: function () {
    return Object.keys(this.props.Annotation);
     },

      getVidElement: function (vidId) {

    var video = this.props.Annotation[vidId];

    var vidElement;

      vidElement = <div
      onClick = {this.props.handleThumbnailClick.bind(null, this, video)}
           onMouseOve

[2015-12-14 20:35] ranbena opened #197 "Autoplay ignores rtl"
When setting prop `rtl: true`, it's expected that the autoplay would go *left to right*, but instead goes *right to left*.

[2015-12-15 09:52] #102 closed

[2015-12-17 15:35] jessy1092 commented on #169
Hi all, I create PR #199 for it. :)

[2015-12-18 13:37] martinpesout commented on #186
+1 also for implementation of `slickGoTo`.

I need to implement custom navigation of slick carousel but it's not possible to do it without this method.

[2015-12-21 22:38] dmnd opened #201 "npm start fails: "It's not clear which file to import""
[code]

Here's npm-debug.log:

[code]

[2015-12-22 00:23] konoufo opened #202 "Inactivity cause slides to disappear"
Whenever you don't interact with the slider for like 15 seconds, slides disappear. The arrow are still there even the dots, but no slide. And clicking on the arrows has absolutely no effect. Clicking on the dots though instantly make the corresponding slides appear. I have autoplay enabled.
![noslides](https://cloud.githubusercontent.com/assets/9636748/11944929/42c31e84-a818-11e5-989f-a4ca9f95911f

[2015-12-22 15:23] kioopi commented on #196
I can't reproduce this.  In a simple setup `beforeChange` is fired when clicking on prev/next as well as when clicking on dots.

[2015-12-22 15:53] akiran commented on #201
I guess, this is the problem with node-sass
http://stackoverflow.com/questions/33612388/how-to-address-node-sass-regression-its-not-clear-which-file-to-import-for

[2015-12-22 15:53] #201 closed

[2015-12-22 15:55] akiran commented on #195
yes

[2015-12-22 15:55] #195 closed

[2015-12-22 15:59] akiran commented on #181
You can get this working without additional option by adding animation logic in custom arrow or with css.

[2015-12-22 15:59] #181 closed

[2015-12-22 16:00] akiran commented on #196
Thanks @kioopi  for checking this.

[2015-12-22 16:00] #196 closed

[2015-12-22 16:03] akiran commented on #170
It is better not to bundle css with js.
Developers can pull in css according to their preference.

[2015-12-22 16:03] #170 closed

[2015-12-22 16:11] lancehub commented on #202
I have same problem, and I find the fix, I will submit a PR soon.

[2015-12-26 16:26] kidwm commented on #174
Ref: https://developer.mozilla.org/en-US/docs/Web/API/Page_Visibility_API

[2015-12-28 11:30] qszhuan opened #205 "refs error"
I copied the snippet code and change it to :
[code]
When I ran, it threw error:

Uncaught Error: Invariant Violation: addComponentAsRefTo(...): Only a ReactOwner can have refs. You might be adding a ref to a component that was not created inside a component's `render` method, or you have multiple copies of React loaded (details: https://fb.me/react-refs-must-have-owner).

webpack config for js loa

[2015-12-31 05:50] alihammad-gist commented on #173
@hydrotik I am using this type definition without editing the source code of react-slick
[code]

[2016-01-02 17:01] bingjie2680 commented on #202
The same problem here. But the fix posted above has a side effect that it does not auto play anymore.

[2016-01-03 03:09] kennetpostigo opened #207 "React Version Support"
Hello,

In the README.md it states that it supports react `v0.12` or below. So is this project not being worked on any longer to support versions after `v0.12`?

[2016-01-03 03:12] kennetpostigo commented on #207
I read it incorrectly, it does support newer versions.

[2016-01-03 03:12] #207 closed

[2016-01-04 13:21] syarul opened #208 "Passing the carousel list to a map function"
Great module, anyway I have an issue regarding how to map the internal div to a map function properly.

[code]
the css wont apply properly since there is another sub level div, if I remove the div I get error ''Cannot read property 'length' of null

[2016-01-05 11:05] lancehub commented on #202
@bingjie2680 I use auto play too, it works with this fix, can you describe more on the problem you met?

[2016-01-05 11:33] syarul commented on #208
Nevermind ,solved it.

[code]
)

[2016-01-05 11:33] #208 closed

[2016-01-06 00:22] mmahalwy opened #209 "child's width is set after mounting, causing a sliding / unintended effect"

[2016-01-06 01:02] mmahalwy commented on #209
I think the problem is happening with componentDidMount some where not being invoked on the server with server-side rendering.

[2016-01-06 10:04] Yuripetusko commented on #186
Need this also

[2016-01-07 15:38] puglyfe commented on #72
i opened a PR for this - [#210](https://github.com/akiran/react-slick/pull/210)

[2016-01-07 20:02] educostachaves opened #211 "How we can pause the AutoPlay"
@akiran

I'm using your component, and got stuck with a feature that I think is very necessary: how we pause the autoplay of the carousel. I've tried to do this manually and not worked. After taking a good look at your Issues, I saw that had feedback on this feature, and even Pull Requests resolution. I don't know if you've implemented it, but I think it is necessary.

Thanks!

[2016-01-08 11:14] edygar opened #212 "Next and Previous Arrow"
Could the component have its labels (currently hard-coded to Next and Previous) injectable, by some prop?

I need to translate some buttons.

[2016-01-08 14:05] madsobel commented on #202
I've run into the same issue. Will test out your PL next week to see if it works

[2016-01-08 19:54] hydrotik commented on #173
Great thanks for this heads up! How are you importing this? I'm getting
[code]

[2016-01-09 15:41] alihammad-gist commented on #173
I just use it like this

[code]

If you look at the example at https://github.com/akiran/react-slick#example . This is how Slider is being imported. Slider is the default export.

[code]

[2016-01-11 10:25] madsobel commented on #202
I can confirm that this is solved in #204

[2016-01-11 11:13] madsobel commented on #202
I can confirm that #204 works for Firefox, however it does not seem to work for Chrome?

[2016-01-11 11:24] lancehub commented on #202
I tested on chrome myself, I works.

[2016-01-12 17:24] ericfowler303 commented on #211
Mabye getting https://github.com/akiran/react-slick/pull/142 merged would help. I know I'm looking for something similar and pausing on hover would be good enough for my project. I thought about a button to trigger pause/resume but I wouldn't know which prop/thing? to change.

[2016-01-12 18:09] Cunha44 commented on #174
+1

[2016-01-12 18:09] Cunha44 commented on #169
+1

[2016-01-13 09:45] laispace commented on #205
+1

[2016-01-14 19:20] taichatha opened #215 "What's the 'react' way of accessing the active slides?"
I want to change the width of an active slide based on a class it has, but I first need to grab it. How would you recommend I safely go about this? I tried doing refs, but that's apparently not safe. And I am passing my divs/slides as props. So basiaclly how do I go into <Slider /> and access the active slides.

[2016-01-15 12:43] rafaelteixeira commented on #212
You could override the prevArrow and nextArrow props with components of your making, like this:

class NextButton extends React.Component {
  render() {
    return (
      <button {...this.props}><i className={styles.nextbutton} />{this.props.nextText}</button>
    );
  }
}

class PrevButton extends React.Component {
  render() {
    return (
      <button {...this.props}><i className={styles.prev

[2016-01-15 13:10] edygar commented on #212
Oh, now I see, thank you

[2016-01-15 13:10] #212 closed

[2016-01-15 17:05] rafaelteixeira opened #217 "Trying to space between the slides without margins/paddings on both sides"
I can't seen distance the slides without having to create margins or paddings on both sides of each slide.

I need the first slide to start showing exactly at the left of the container, and the last displayed slide to end  at the end of the container.

That's easy to do, if I don't have any space between the slides, since it's the default behavior.

Is there any way to have a margin only between t

[2016-01-16 19:14] startupthekid opened #218 "More expressive & better documented code"
There are a lot of places in the code that could be better expressed.

Take the following block (taken from `track.jsx`):

[code]

Instead of doing a `forEach`, why not do a map? Then, it's clear that you're transforming and cloning the elements, not just looping and performing a lot of side-effects. Side-effects, which in turn can lead to bugs that are hard to find and fix.

Here's one way you ca

[2016-01-17 21:20] mhenag commented on #186
@martinpesout  A basic use of slickGoTo works already for me - set the value on the props and let it re-render. I'm using redux to maintain the value of slickGoTo.
This may be of use to you;
`
//Maintain the value
function mapStateToProps(state) {
  return {
    slideToIndex: state.get('slideTo')
  };
}
export const ComponentContainer = connect(
  mapStateToProps,
  actionCreators
)(Component);

/

[2016-01-18 10:21] rafaelteixeira commented on #218
+1

[2016-01-18 10:32] akiran commented on #218
@startupthekid  Can you open PR ?

[2016-01-18 15:43] startupthekid commented on #218
@akiran no thanks. I don't have time myself, I just wanted to see this library become great hence the suggestions.

[2016-01-19 06:46] nithishj opened #219 "Uncaught TypeError: Cannot read property 'className' of undefined"
**Static content(working):**

[code]

**dynamic content(not working)**
[code]
**getting Error as:**
~~Uncaught TypeError: Cannot read property 'className' of undefined~~

*I am using react@0.14.1, react-dom@0.14.1,  react-slick@0.9.3*

[2016-01-19 08:23] akiran commented on #211
Merged #142

[2016-01-19 08:23] #211 closed

[2016-01-19 08:31] #140 closed

[2016-01-21 20:11] zakness commented on #47
+1

example use case, just in case: main carousel is a series of images, nav carousel is a series of thumbnails of the main images.

[2016-01-21 21:51] ericrenard opened #221 "Slide width calculation error"
Hi,

The slideWidth value is wrong (at least not coherent with the original slick library), it should be Math.ceil(trackWidth/props.slidesToShow) to give the same result as slick.

[2016-01-22 16:06] Gattermeier opened #223 "demos throw error on npm start"
Following instructions in README to run demos locally:
git clone https://github.com/akiran/react-slick
npm install
npm start

Throws error:

events.js:141
      throw er; // Unhandled 'error' event
      ^
Error: docs/docs.scss
Error: It's not clear which file to import for '@import "slick-carousel/slick/slick"'.
       Candidates:
         slick-carousel/slick/slick.scss
         slick-carousel/s

[2016-01-22 17:23] akiran commented on #223
Do you slick carousel installed ?

[2016-01-22 21:58] Boughtmanatee5 commented on #186
Would it be preferable to make slickGoTo a method on the Slider component to keep it similar to the original slick-carousel. We could use it by returning a reference to the slider in the render.

maybe something like this:
[code]

[2016-01-23 06:11] zakness commented on #223
I got this too, easily worked around by doing what the error message says...

...which means going into `node_modules/` and deleting `*.css`, letting gulp-sass use the scss versions.

But it would be nice not to have to do that. Perhaps `docs.scss` can import explicitly?

[code]

[2016-01-23 11:01] akiran commented on #223
fixed it

[2016-01-23 11:01] #223 closed

[2016-01-25 14:06] madsobel commented on #202
Since this was reverted in https://github.com/akiran/react-slick/pull/220 - Can we then re-open this issue?

[2016-01-27 05:21] robcolburn commented on #218
@akiran,
While I believe @startupthekid's words were lean more critical than helpful. The point about mutating props is valid, I'll try to roll that into an actual PR.

I noticed 4e80d751c06a313c2dc26f024ad9bb272b97b030, let me know what issues came up, and if I can help you out in anyway with the automated testing aspect. It makes it difficult to write PR's without a test suite to validate agains

[2016-01-27 05:32] startupthekid commented on #218
@robcolburn being critical of software is a good thing, it helps it become great. We can only call ourselves software engineers when we adhere to engineering methodologies and modes of problem solving.  And in this case, that's needed because there are no good react carousels out there that have the functionality that slick carousel does. This could stand as a great library given some TLC.

To you

[2016-01-27 06:10] akiran commented on #218
Nature of the library itself is complex because it need to support wide variety of mode.
I will try my best to refactor and add docs & tests.

[2016-01-27 06:10] #218 closed

[2016-01-27 06:38] robcolburn commented on #218
@startupthekid,

So, "critical" is loaded word, it can mean both "expressing or involving an analysis of the merits and faults of a work of literature, music, or art." as well as  "expressing adverse or disapproving comments or judgements.".

The latter can be subtly toxic to an open-source software / community. Bugs are annoying and the pain is shared by many people.  However, as long as there is

[2016-01-28 09:01] JavonEich opened #225 "自动轮播出现白色的"
页面打开自动轮播是好的，但把手机锁屏等十几秒，再打开手机看轮播就变成白色了，要过一会才好

[2016-01-28 09:03] li2go commented on #219
i met the same question. how did you do?

[2016-01-28 09:38] vdv73rus commented on #179
When this PR will be merged? I need this!

[2016-01-28 21:45] abdelouahabb opened #226 "Element disapears if the user stays in another browser tab."
If another tab is opened, and the user leaves the tab where the is the carousel, the elements will disapear. must clic on to make them back.
This happens of course when the carousel is played automaticaly `autoplay: true,`

[2016-01-30 04:21] anthonychung14 opened #227 "material ui cards grow with window resize"
Cards render and slide fine until window is resized or seen on mobile.

Upon resizing, img zooms in quite a bit.

settings:

[code]

card code

[code]

[2016-02-01 01:25] revolution42 commented on #122
There seems to be a problem when you change the props of the parent before the animation has finished.

My use case is the person press next and I fire of a ajax request and update the state to allow it to start moving, when the ajax request comes back I update the state however do not change any props in react slider, it then jumps

[2016-02-01 05:35] alma-socar opened #228 "Slide with variable width's first slide is not positioned properly."
[code]

![image](https://cloud.githubusercontent.com/assets/16098076/12709587/fffeec00-c8f0-11e5-897e-15db2474e4e7.png)

Since this is infinite slides last slide should displayed on the left.

`initialSlide: 2` is not working too.

[2016-02-01 13:47] vdv73rus commented on #226
+1
I'm waiting for fix!

[2016-02-01 14:09] artempartos commented on #179
Need this PR too!

[2016-02-01 18:06] bvasko commented on #215
You probably figured this out already - but use the beforeChange prop
<MySlider beforeChange={this._onChange} />

_onChange:  function( currentSlide, nextSlide ) { }

[2016-02-01 23:36] blairanderson commented on #111
@Pave91 you can probably get away with something like this:

[code]

[2016-02-02 10:38] AndriySolonyna commented on #205
+1

[2016-02-04 09:07] medv opened #230 "Slider width being set to a larger number?"
I implemented a slider sometime in the past but now it's broken. It's like the calculation of the slick container takes max-width of the parent element as the width, so it fails to size itself down when its container is sized down.

My parent element is 98% wide and max-width 1600px, and slick does not go below 1600px anymore. It used to scale fine before. I have scoured for any side effects in my

[2016-02-05 01:37] kjs3 commented on #205
I don't think this has to do with refs. I believe 2 copies of react are being loaded but I can't for the life of me get this to work linking locally.

[2016-02-05 06:27] amitthakkar22288 commented on #230
i think this is related to a recent chrome update if using flex layouts,
 try setting min-width:0;min-height:0

http://stackoverflow.com/questions/35168412/incorrect-flexbox-display-in-chrome-48

[2016-02-05 10:20] medv commented on #230
Issue persists, I am not using flex, but it appears further up the ancestor tree. However i break out of flex before the slider depth. Anyhow, setting those to all elements up the tree does not solve the issue.

[2016-02-07 06:08] akiran opened #233 "Add to debounce to resize functionality"

[2016-02-11 16:25] yerinSergey opened #234 "Slider shows the wrong number of slides"
Set such options:
- slidesToShow: 2,
- slidesToScroll: 1,
- swipe: true

then, swipe to the end.
Expected result - see 2 last slides.
Actual result - see only one, last slide.
I think the problem in https://github.com/akiran/react-slick/blob/master/src/mixins/helpers.js#L142
maybe it should be => (targetSlide >= this.state.slideCount - 1)

[2016-02-12 13:53] jeffersondarcy commented on #205
I had the same problem, it was a webpack issue, this was solution: http://stackoverflow.com/a/35363972/888280

[2016-02-14 12:33] #118 closed

[2016-02-15 11:50] cotwitch commented on #129
+1

[2016-02-15 12:01] akiran commented on #129
This issue is fixed in latest release.

[2016-02-15 12:01] #129 closed

[2016-02-15 15:48] #225 closed

[2016-02-15 18:01] mping commented on #191
Any updates on this?

[2016-02-15 18:23] akiran commented on #191
Since this is not part of original slick API,  we don't have any plan for implementing this.

I think you should implement  a custom prefetching scheme using beforeChange/afterChange hooks.

[2016-02-15 18:23] #191 closed

[2016-02-16 08:59] Qrysto opened #238 "Slider is scrolled to the right when switching to previous on the first item"
I have a react-slick slider with 5 items. When I update to 0.10.0, this unexpected behaviour happens. When I'm on the first item and I press the previous button, it's scrolled to the last item, but all the way to the right instead of to the left (naturally). This didn't happen in 0.9.3

My config is as follow
[code]

[2016-02-16 09:57] mping commented on #191
Pity, but fair enough. I'll take a look on the hooks. Thanks

[2016-02-16 20:36] alexeyignatov commented on #226
+1
The same issue!

[2016-02-17 19:01] nicoecheza commented on #226
+1

[2016-02-18 06:02] abhinavrastogi opened #240 "Depends on jQuery"
This adds 60kb to the webpack bundles. Highly inconvenient!
Would have gladly used it if it was much smaller.

[2016-02-18 06:27] akiran commented on #240
It doesn't depend on  jQuery.
It's purely written in react

[2016-02-18 06:29] #240 closed

[2016-02-18 07:52] gregory90 opened #241 "New release?"
Is there possibility to cut a new release on npm? There were 41 commits to master since last release, with many fixes.

[2016-02-18 08:30] akiran commented on #241
I already made a release react-slick@0.10.
Please check

[2016-02-18 08:30] #241 closed

[2016-02-18 13:49] easga commented on #238
Yes, same for me, we discovered it today.

[2016-02-19 21:43] lauffenp commented on #78
I'd really like to resolve this problem in my app. Is there anything further I could do?

[2016-02-20 03:40] akiran commented on #78
I will try to fix it soon

[2016-02-21 14:52] akiran opened #243 "Add support for customPaging option"

[2016-02-21 16:42] #238 closed

[2016-02-21 16:47] akiran commented on #234
Couldn't replicate this issue.
Can you provide exact code snippet you are using

[2016-02-22 13:55] akiran commented on #230
Please provide code snippet to replicate the issue

[2016-02-22 13:55] #234 closed

[2016-02-22 14:03] akiran commented on #205
Closing this since the solution is provided by @jeffersondarcy

[2016-02-22 14:03] #205 closed

[2016-02-22 14:05] akiran commented on #215
Yes, you can use beforeChange or afterChange methods for this usecase

[2016-02-22 14:05] #215 closed

[2016-02-22 15:02] akiran commented on #219
@nithishj  You are using strings instead of JSX in dynamic content example.
It will work your dynamically generated JSX

[2016-02-22 15:02] #219 closed

[2016-02-22 15:04] akiran commented on #226
Dulplicate of #202

[2016-02-22 15:04] #226 closed

[2016-02-22 15:06] akiran commented on #180
You can use nextArrow and prevArrow for this usecase

[2016-02-22 15:06] #180 closed

[2016-02-22 15:10] akiran commented on #169
duplicate of #202

[2016-02-22 15:10] #169 closed

[2016-02-22 15:12] akiran commented on #179
Duplicate of #202

[2016-02-22 15:12] #179 closed

[2016-02-22 15:16] akiran commented on #168
This issue be resolved with recent version of react

[2016-02-22 15:16] #168 closed

[2016-02-22 15:17] akiran commented on #167
Its is a css issue. Check demos in this repo for reference

[2016-02-22 15:17] #167 closed

[2016-02-22 15:20] akiran commented on #137
this issue is fixed in latest release

[2016-02-22 15:20] #137 closed

[2016-02-22 15:22] #79 closed

[2016-02-22 15:24] akiran commented on #243
Duplicate of #16

[2016-02-22 15:24] #243 closed

[2016-02-23 16:34] akiran commented on #197
This issue it fixed

[2016-02-23 16:34] #197 closed

[2016-02-25 03:59] chentsulin opened #246 "Initial silde will not be displayed when lazyLoad mode enabled"
Initial silde will not be displayed when lazyLoad mode enabled, and set `lazyLoad: false` slide will be displayed correctly. It seem some weird behavior in lazyLoad mode. Below is my setting when encountered this issue:

[code]

[2016-02-26 05:06] akiran commented on #202
This issue is fixed in react-slick@0.11
Can you test it  and le me know if it works for you

[2016-02-26 05:06] #202 closed

[2016-02-26 09:34] AHB opened #248 "Flicker on animation"
http://webrafter.com/opensource/react-slick

The Multiple Items slider end slide flickers when animating the rollover from the 3rd item, back to the first.

![bug](https://cloud.githubusercontent.com/assets/13730199/13348469/97620b08-dc6b-11e5-8ad3-57c78d282b96.gif)

Will also flicker when going from the 1st item, back to the 3rd. Seems to happen on all sliders with infinite enabled and slidesToSc

[2016-02-29 09:09] yursile opened #250 "sass %1 is not a valid win32 application"
when i run npm install, i have this error:
Error: %1 is not a valid Win32 application.
\\?\D:\webjar\react-slick-master\node_modules\node-sass\vendor\win32-x64-47\bind
ing.node
    at Error (native)
    at Object.Module._extensions..node (module.js:422:18)
    at Module.load (module.js:343:32)
    at Function.Module._load (module.js:300:12)
    at Module.require (module.js:353:17)
    at require (

[2016-02-29 14:00] psimyn opened #251 "infinite=true with single item"
If you have a single item in children, but `infinite=true`, then there are 3 copies of the same image that allow sliding between.

For now i have just worked around it by conditionally setting `infinite: items.length > 1`. Would be good to remove that line though :)

[2016-03-01 12:32] tvogels commented on #136
Did anyone solve this? I have the same problem, but this also happens sometimes when setting the state on the parent component on a button click.

[2016-03-02 00:29] nackjicholson opened #252 "Using adaptiveHeight: true produces error."
Using

react-slick@0.11.0
slick-carousel@1.5.9 for the CSS

Settings:

[code]

The following error comes from

helpers.js:89

[code]

[2016-03-02 11:48] akiran commented on #252
I couldn't replicate this issue. Its working fine with the given settings.
Check this demo https://jsfiddle.net/kirana/wna3a6q5/

[2016-03-02 11:48] #252 closed

[2016-03-02 11:49] akiran commented on #251
Some people might even want to show the same slide with animation effect.

Since there is a easy work around for this usecase, we are not going to fix this for now

[2016-03-02 11:49] #251 closed

[2016-03-02 11:51] akiran commented on #248
On which browser and os you are seeing this issue ?

I don't see this issue in mac and chrome

[2016-03-02 11:56] akiran commented on #246
I was able to replicate this issue https://jsfiddle.net/kirana/xq3ph2vx/1/
I will try to fix it soon

[2016-03-02 11:57] akiran commented on #230
Closing this issue.
Please reopen if you can reproduce the issue with demo
https://jsfiddle.net/kirana/20bumb4g/

[2016-03-02 11:57] #230 closed

[2016-03-02 12:00] AHB commented on #248
I'm also on Mac, Chrome 48.

[2016-03-02 15:52] mpaulucci commented on #248
I have the same problem. I dont see the flickering in Mac but I see it on my Android Phone. If you look carefully you will see a delay in the updating of the active dot, that can be reproduced in Mac as well.

I think the issue may be related to setting a wrong value of `currentSlide`.

I have a working example with 3 Slides. If I log `currentSlide` in the render method of Dots, when sliding from

[2016-03-02 16:40] akiran commented on #248
@AHB  @mpaulucci Release 0.11.1 with this fix. Can you check

[2016-03-02 16:57] #177 closed

[2016-03-02 16:58] akiran commented on #250
This is not an issue with react-slick.

Could be an issue with node-sass.

[2016-03-02 16:58] #250 closed

[2016-03-02 17:23] mpaulucci commented on #248
Hi @akiran, sorry about my ambiguous message. I thought the flicker was related to the dots issue and solving one would solve both, but it seems they are not related after all, so the flickr issue is still present

[2016-03-02 17:48] #162 closed

[2016-03-03 06:26] Light1c3 opened #253 "Component .css isn't loading"
I was trying to get the component working, but this is as far as I am able to go. I installed bower, but even with without css on the jsfiddle your example works so what's the issue here? Is it me (I'm new so very possible), or the code somehow?

This also seems to cause the gallery to not display correctly on mobile, but I can't seem to figure out what's the issue.

Example:
http://s615680131.onl

[2016-03-03 07:00] akiran commented on #253
In jsffidle, I added below links as external css files
https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css
https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.css

You can also link to cdn files similarly

[2016-03-03 07:00] #253 closed

[2016-03-03 11:19] hafeez1042 commented on #111
+1

Please add an example

[2016-03-04 04:18] chemoish opened #254 "Issue with stacking slides before react-slick is initialized…"
https://github.com/akiran/react-slick/blob/master/src/inner-slider.jsx#L80

`slick-initialized` is hard coded and not set by any events.

![screen shot 2016-03-03 at 8 14 59 pm](https://cloud.githubusercontent.com/assets/549319/13517870/a648dcee-e17c-11e5-88e8-c524eb1e9551.png)

How can you prevent stacking slides? Thoughts?

_In kenwheeler/slick, `slick-initialized` is an event… so you can preven

[2016-03-04 04:55] akiran commented on #254
Render slick slider only when you need.
slick-initialized won't be necessary in react

[2016-03-04 05:24] chemoish commented on #254
I need it immediately? or am I missing something?

I solved this the FOUC issue by…

[code]

[code]

[2016-03-04 05:27] akiran commented on #254
You don't need to do that.  check this demo

https://jsfiddle.net/kirana/20bumb4g/

On Fri, Mar 4, 2016 at 10:54 AM, Carey Hinoki <notifications@github.com>
wrote:

[2016-03-04 06:18] chemoish commented on #254
I am thinking that it has to do with server side rendering. Since the DOM and images are already delivered.

[2016-03-04 08:45] nabilfreeman commented on #97
I also had this bug. So brutal.

[2016-03-04 10:17] whitebeatle commented on #141
+1

[2016-03-04 10:21] akiran commented on #97
Solution to this problem is mentioned in
https://github.com/kenwheeler/slick/issues/982

its working with the css fix mention in above link. Check the demo
https://jsfiddle.net/kirana/wabv7wLj/

[2016-03-04 10:21] #97 closed

[2016-03-04 10:23] akiran commented on #87
Demo for react slick slider inside flexbox container
https://jsfiddle.net/kirana/wabv7wLj/

[2016-03-04 10:23] #87 closed

[2016-03-04 10:30] akiran commented on #254
I am not sure if slider can support server-side rendering well.
It does some math to compute dimensions of slides and slide-track based on container width, which is known only after rendering on browser

[2016-03-04 13:12] fender opened #255 "Fade and autoplay do not play nicely together"
Seeing issues when `fade` and `autoplay` are both set to `true`. To see this, go to the JSFiddle below and after hitting next/prev a few times you will see the dots starting to jump around. This is likely because the autoplay timer is not being reset?
https://jsfiddle.net/20bumb4g/21/

Note: Using version 0.11.1.

[2016-03-04 21:48] joshuarh commented on #141
+1

[2016-03-07 21:27] demobo-com commented on #248
I also see the flickering issue at the last item. I am using react-slick 0.11.1, Mac and Chrome 48.

[2016-03-08 10:59] web2style commented on #221
Confirm. There are width issues, here is jsfiddle example: https://jsfiddle.net/20bumb4g/57/

This is because you are not rounding numbers for slides' width.

[2016-03-09 06:58] brigand opened #257 "prevArrow/nextArrow uses refs"
This causes a warning when using function components (`() => (<.../ >)`) and the ref doesn't appear to be used anywhere.

[2016-03-10 14:59] whynot123 opened #259 "background is showing during loop from last to first and vice versa"
https://jsfiddle.net/f7gy0970/
as opposed to
http://jsfiddle.net/LL2qsp6n/
also when styling inside elements (like font-size), slides start falling out of the borders

[2016-03-11 11:29] #257 closed

[2016-03-13 08:24] nabilfreeman commented on #230
@akiran, I broke it:

https://jsfiddle.net/20bumb4g/128/

Note the purple overlapping colour.

I'm currently suffering from this issue - basically the slider works perfectly until you embed it in a Flex view. Quite difficult to work around in some situations.

[2016-03-13 08:24] nabilfreeman commented on #230
I can't reopen the issue so could you?

[2016-03-13 08:29] nabilfreeman commented on #230
I updated it here with a check for the pixel width of the `.flex-inner` div.

It comes back as 3080px when it should be 500px

https://jsfiddle.net/20bumb4g/129/ (open your console)

[2016-03-13 08:31] amitthakkar22288 commented on #230
i had this issue too. temp fix is adding

[code]
to .flex-inner class.

[2016-03-13 08:39] nabilfreeman commented on #230
@amitthakkar22288, you're a legend man! This worked for me.

I didn't actually need `max-height:0` for my horizontal slider, just `min-width:0;`

You can toggle the fix with a button here:

https://jsfiddle.net/20bumb4g/130/

[2016-03-13 22:03] apennell commented on #248
I'm having the same issue in Chrome on a Mac and I'm glad it's already been detected and worked on! There's no problem in Safari or Firefox. I have infinite set to true and when the slides finish and go back to the first set, there is a flicker on the first slide on the far left. I hope this can be resolved soon! Thank you for this component though, it was just what I needed.

[2016-03-15 07:05] nic611 opened #261 "initial silde will not be displayed when use map()"
initial silde will not be displayed when use map() to creat activtive pic,but press the dots,the second pic will run...

![ul tv y tf4 ke rk3l7w04](https://cloud.githubusercontent.com/assets/8542939/13770037/43116ee2-eabf-11e5-9f62-b8b53063ecd8.png)

[2016-03-15 21:25] mtoso opened #262 "Update peerDependencies to be aware of React 15.0.0"
I am trying to update the code base where I am using `react-slick` to use react@15.0.0-rc.1 react-dom@15.0.0-rc.1. I am using npm@2.11.3 so I have an error on the peerDependencies because this is the actual definition:
[code]

According to this [release note](https://facebook.github.io/react/blog/#bring-everyone-along) by Facebook most of the user (79%) of React are on the 0.14 version.

What abou

[2016-03-16 01:56] GoToBoy commented on #261
i had the same question

[2016-03-16 19:03] fyyyyy opened #263 "Cannot read property 'offsetWidth' of undefined, trackHelper.js:115"
[code]

[code]

This is the error message, its caused by `centerMode: true`, without it this runs fine.

`trackHelper.js:115 Uncaught (in promise) TypeError: Cannot read property 'offsetWidth' of undefined(…)getTrackLeft @ trackHelper.js:115(anonymous function) @ helpers.js:71assign.notifyAll @ CallbackQueue.js:65UPDATE_QUEUEING.close @ ReactUpdates.js:57Mixin.closeAll @ Transaction.js:202Mixin.pe

[2016-03-18 19:12] mycroft11 opened #266 "Slick and Bootstrap Tabs"
Hi!

Is there a way to force a recreate of the component? Something like destory() and init()? I am using multiple sliders inside different bootstrap tabs, but the ones in the hidden tabs don't get rendered properly (the slides are rendered vertically instead of horizontally)

Any ideas?

Thank you.

[2016-03-21 09:04] andfaulkner commented on #136
Having the same issue, and have noticed it also occurs if you re-render the slider on prop change (e.g. when using redux's mapStateToProps after a new store is returned following a dispatched action)

[2016-03-22 05:32] #173 closed

[2016-03-23 21:04] adamshone opened #267 "Slider becomes empty and unnavigable when the number of slides is reduced"
To repro:

* set up a slider that displays 4 slides at a time, with 5 slides
* navigate to the second page (1 slide will be in view)
* re-render the slider with only 4 slides

Expected:
* the user is moved back to the first page and can see the first 4 slides.
* the dots and navigation buttons disappear or become disabled, because there is only one page now.

Actual:
* the fifth slide disappears a

[2016-03-24 00:29] alenb commented on #141
+1

[2016-03-24 10:06] Artemidas opened #269 "Fade with Links components only shows the last Link"
It fades correctly and the content is changing, but if there is a Link in each slide, only the last Link will be clicked.
Here I modified jsfiddle to show an example https://jsfiddle.net/20bumb4g/166/

[2016-03-25 17:14] chrispeterson3 opened #270 "Scroll with Arrow Keys"
Is there an option to scroll with Arrow Keys? Looks like the vanilla JS plugin allows scrolling with Arrow Keys.

[2016-03-29 09:58] 2oo opened #271 "nextArrow is disabled too soon in centerMode when infinite = false"
This is my config:

[code]

If I have 5 slides the button will be initially disabled, thus making two last slides not visible.
If I have 6 slides it will disable after first scroll.

[2016-03-30 11:11] #259 closed

[2016-03-31 03:06] lusilva commented on #78
Any update on this? I'm also having this issue

[2016-04-02 15:48] Ajar-Ajar opened #273 "Does this work with server side rendering? no 'window' or 'document' dependencies?"
I've been trying out too many carousel react components that assume they are running on the client and have 'window' and 'document' dependencies all over the place. This breaks the code trying to integrate it on an isomorphic app...

[2016-04-02 15:48] Ajar-Ajar opened #274 "Does this work with server side rendering? no 'window' or 'document' dependencies?"
I've been trying out too many carousel react components that assume they are running on the client and have 'window' and 'document' dependencies all over the place. This breaks the code trying to integrate it on an isomorphic app...

[2016-04-02 15:49] #274 closed

[2016-04-03 16:35] jonathanewerner commented on #273
Nope, it doesn't, also depends on mounted DOM for measurement.

[2016-04-04 14:30] clearmirror opened #275 "Weird rendering when children are react component"
Notice that when child is react component instead of native html the rendering is not showing expected result. See https://jsfiddle.net/8a9ejzqk/

Any workarounds or do I miss anything?

[2016-04-05 07:38] jalyna commented on #255
:+1: facing the same issue.

[2016-04-06 02:22] J-F-Liu commented on #275
`https://facebook.github.io/react/js/jsfiddle-integration-babel.js` no longer exists?

[2016-04-06 02:50] akiran commented on #275
@clearmirror You have pass {...this.props} to the element inside custom component
https://jsfiddle.net/8a9ejzqk/1/

[2016-04-06 02:50] #275 closed

[2016-04-06 03:46] adrianha opened #277 "Custom Next Arrow shown below the slider"
Hi,
I was trying to create custom component for next arrow but it shown below the slider
Heres the fiddle: https://jsfiddle.net/bj0ue9r8/

[2016-04-06 04:15] akiran commented on #277
@adrianha You have to style it to make it appear the way you wanted.
You can refer how default arrow elements are styled
https://github.com/kenwheeler/slick/blob/master/slick/slick-theme.scss#L63

[2016-04-06 04:15] #277 closed

[2016-04-07 03:54] hitamu commented on #261
Not working when mapping with component
[code]

[2016-04-07 16:46] wuyiqun0718 opened #278 "The slider has less slides won't display if switch from a slider has more slides"
Hi there,

I was trying to use a dropdown menu to change the displaying slides. Option 1 has a few slides, option 2 only has 1 or 2 slides so it can't slide at all.  So when I select the option 1 first, and slide it to the right end. Then switch to option2, then the slides won't displayed at all and the next/prev buttons is disables.

I hope it's described clearly, this is the best I can do. Here'

[2016-04-08 03:43] Echooff3 commented on #186
I've got a scenario where slickGoTo only works the first time. https://jsfiddle.net/jskibicki/1r7nayy9/
If a user moves around the carousel and I attempt to set slickGoTo back to the previous number (when the current index has been update) it does not navigate.

[2016-04-08 09:50] ViLPy opened #279 "Skip key generation if slides already have key property"
Hi,
There is an issue with auto-generated key property which appears in case of manipulating slides before removing them. Because key property is re-generated every time from zero, React keeps all applied styles/css classes/etc for removed tile, because for React you only remove last key.

See https://jsfiddle.net/4cp9keq6/2/
On click slide opacity set to 0 before removing. If you click slide A (k

[2016-04-08 11:30] terrysahaidak opened #280 "React 15 support"
I'm trying to build my project bundle with webpack but it throws an error:
[code]
cloneWithProps was removed from react 15
https://facebook.github.io/react/blog/#removed-deprecations

[2016-04-08 18:29] #280 closed

[2016-04-08 20:44] dougmacklin opened #282 "Responsive initialSlide setting not working"
The `initialSlide` setting doesn't seem to have any effect when added to a `responsive` breakpoint: https://jsfiddle.net/20bumb4g/241/

[code]

`slickGoTo`, on the other hand, is working (I'm actually getting a 'Keys Missing' error on jsfiddle that I'm not experiencing locally, however): https://jsfiddle.net/20bumb4g/240/

[code]

(Note that you may have to adjust the size of the Result tab on jsf

[2016-04-09 03:19] akiran commented on #282
Yes,  initialSlide is only for initial mount and slickGoTo is to change slide after mounting.
This is by design

[2016-04-09 03:19] #282 closed

[2016-04-10 06:32] lyquocnam opened #283 "react 15 released, please upgrade too"

[2016-04-11 01:03] joewestcott commented on #49
Is this able to be implemented any time soon? It also should be mentioned on the readme as not working (unless it is and I'm doing something wrong)

[2016-04-13 07:16] afc163 commented on #283
+1

[2016-04-13 07:18] yury72 commented on #283
+!

[2016-04-13 10:20] afc163 opened #285 "setInterval every switch without clearing when autoPlay"
Cause issue after react-slick is ummounted.

[code]

version: 0.11.1

https://github.com/ant-design/ant-design/issues/1397#issuecomment-209340907

---

https://github.com/akiran/react-slick/commit/9bbe0fa9191bb5b1156cec4755532ee108f14cbc

Why use `setInterval` instead `setTimeout`, `setInterval` will repeat forever, and never clear it when it switch automaticly!! And `componentWillUnmount` can onl

[2016-04-13 10:48] elad-maimon opened #286 "slick-carousel css should be imported along with react-slick"
Hi,

I want to use _react-slick_ and according to the documentation I need to ```npm install``` it and then bring _slick-carousel_ with bower or CDN.

I have two issues regarding this:
1) There's no guaranty that the two packages are compatible. It's better to vendor dependencies like mentioned here:
https://medium.com/@Rich_Harris/how-to-not-break-the-internet-with-this-one-weird-trick-e3e2d57fee

[2016-04-14 04:11] code-artisan opened #289 "Image source not load."
Hi, there. I got a problem, when I enabled lazy load mode and I tried to set `initialSlide` property, the first img is loaded, it's wrong. Here is my code:

[code]

![image](https://cloud.githubusercontent.com/assets/5195218/14516814/73ce9898-0239-11e6-80a4-858eb891dfcf.png)

Please see this code: https://github.com/akiran/react-slick/blob/master/src/inner-slider.jsx#L31

The state `currentSlide`

[2016-04-14 08:02] likethemammal commented on #285
:+1: Ran into this too

[2016-04-14 14:57] IlanaB commented on #283
+1

[2016-04-14 15:56] Tamiyadd commented on #262
I'm having the same issue too now that react 15.0.1 is released

[2016-04-14 17:14] akiran commented on #262
Released react-slick@0.12 with support to react@15.0

[2016-04-14 17:14] #262 closed

[2016-04-14 17:15] akiran commented on #283
Checkout react-slick@0.12

[2016-04-14 17:15] #283 closed

[2016-04-14 17:25] IlanaB commented on #283
Thank you!!!!

On Thu, Apr 14, 2016, 1:15 PM Kiran <notifications@github.com> wrote:

[2016-04-14 17:45] akiran commented on #286
We don't want to do this because of maintenance problems.

[2016-04-14 17:45] #286 closed

[2016-04-15 11:12] chentsulin commented on #246
@akiran Any update on this?

[2016-04-16 19:00] elad-maimon commented on #286
What do you mean by maintenance problems ?

I raised two issues, at least for the first one the solution is very simple - just vendor the original slick-carousel (aka. add it to the dist folder), and then I can import it safely from your module without version compatibilities concerns.

[2016-04-18 16:26] sorahn opened #291 "prevArrow and nextArrow don't seem to like react components"
I was trying to use our own custom components for prevArrow and nextArrow, and I was getting all kinds of invariant violations from react.

https://www.dropbox.com/s/kyhmhrf1u60qg6s/Screenshot%202016-04-18%2009.23.37.png?dl=0

my Arrow code looks like this.

[code]

And then for the slider itself.

[code]

I dug around in the code a little big and it looks like you are using `React.createElement`

[2016-04-19 09:38] primeminister opened #294 "Upgrade to React 15"
Hi,
Any plans to upgrade to React 15?

[2016-04-19 09:46] akiran commented on #294
Already released  react-slick@0.12  with this

[2016-04-19 09:46] #294 closed

[2016-04-19 09:47] primeminister commented on #294
Nice! Sorry for that

[2016-04-19 15:39] linuxenko opened #295 "Settings variation and slickGoTo"
It seems like after state change when i'm trying open slide with `slickGoTo`, slider does not work anymore (does not handle swipe events and i cannot change slide by dragging/swiping it).

With `dots: true` settings option `slickGoTo` works fine . But it makes DOM for dots, that not so cool.

Thank you

[2016-04-19 18:57] dougmacklin commented on #295
+1. I just updated to react@15.0 and react-slick@0.12.0 and slickGoTo is no longer working for me as well, it results in a blank slider.

[2016-04-19 20:22] kennetpostigo opened #296 "react-slick works with React v15.0.0?"
I'm wanting to use react-slick in one of my projects. Just wondering if it works with react 15.0.0

[2016-04-19 23:34] chrisknepper opened #297 "Slider can become unusable when altering the number of children"
When re-rending the slider due to a change in the number of children (slides), certain situations can cause the slider to incorrectly it position itself far to the right of the window (off-screen).

The most common way I can reproduce this issue is by starting with a large list, with the current slide at least half-way through the list, then re-rendering with fewer children.

I have reproduced thi

[2016-04-19 23:50] chrisknepper commented on #297
I believe I have fixed this problem. When changing the slider children, while keeping `slickGoTo` the same (which happens if your slides change but the number of them do not), the logic in `componentWillReceiveProps` calls `this.update` when it should call `this.changeSlide` instead.

[2016-04-20 05:31] kamui commented on #296
https://github.com/akiran/react-slick/blob/master/package.json#L69-L70

Looks like it at least from it's peer dependencies.

[2016-04-20 09:34] Azael05x commented on #291
@sorahn So how you managed to set custom navigation buttons?

[2016-04-20 19:00] akhayoon opened #299 "Rendering Slider after list of children components are rendered"
I have an issue where the Slider is rendering before all its children components are rendering and on initial load, the Slider only has the width of one slide (and the children are listed vertically instead of horizontally). Resizing the window usually fixes the issue, but doesn't address the underlying problem I have.

What is the best way to handle this issue (i.e waiting for the children compon

[2016-04-20 23:14] sankara commented on #299
With the caveat that I haven't seen your code - I faced a similar issue. Wrapping each child component in a `<div>` (and setting the key correctly) fixed the issue for me. In my case it was because the necessary classes like `slick-slide` were not being set on the child components.

[2016-04-21 08:19] drorsun opened #300 "Initial slides on top of the real slides"
Hi,
I am presenting videos with react-slick and auto-play videos when they are in the center. I am showing 3 slides each time (slidesToShow: 3) and I am using beforeChange and afterChange to play/pause.
I am able to play and pause using a ref I added a ref={'preview' + index} for every video so I can play it when it gets into focus and pause it when it goes out of focus.
So this all works, videos

[2016-04-21 08:38] ivliag commented on #136
+1

[2016-04-21 09:37] jjalonso commented on #136
I found this problem about 6 month ago. I think the project is dead. It
need a fork or something :-/
On 21 Apr 2016 9:38 a.m., "Ivan Lyagushkin" <notifications@github.com>
wrote:

[2016-04-21 15:25] akhayoon commented on #299
Thanks for the answer @sankara
I've already done what you've listed above. I realize it must be a browser issue of some kind.
I noticed the issue on the demo playground itself https://jsfiddle.net/kirana/20bumb4g/

It's not the exact same issue, but the images will not load about 80% of the time until I resize the window. It's just on initial load, you don't see any images. Similarly on my issue,

[2016-04-21 16:24] akhayoon commented on #299
one part of the problem seems to be that .slick-track class is that width 0px and then adjusts to the right size after resize is triggered.

[2016-04-21 22:35] #296 closed

[2016-04-24 08:07] penguin3069 opened #301 "autoplaySpeed is changed by clicking nextBtn when fade equals true"
https://jsfiddle.net/penguin3069/L96rm9j6/
set autoplaySpeed, then click `nextBtn` very quickly,and speed will be changed

[2016-04-25 07:43] dearsaturn commented on #185
Very late, but to anyone that sees this, you'll probably want to just `lazyLoad: true` to prevent the next slide from even being loaded or `tabIndex=-1` and prevent tabbing altogether.

[2016-04-25 07:51] dearsaturn opened #302 "Bootstrap input-unfocus animation breaks slide transition animation"
When dealing with bootstrap text input fields, clicking outside of an input field kicks off a bootstrap animation to unfocus it. I've created some custom buttons, but I noticed that when clicking the button, the bootstrap animation begins for un-glowing an input and that transitionEnd ends up also causing the slide transition to end prematurely. If I click somewhere to un-focus the input field and

[2016-04-25 17:27] Nierrrrrrr commented on #285
Ran into this, too. And manually fixed by edit the src file as pull #287.

[2016-04-26 05:58] horaceleung opened #303 "Autoplay not functioning"
My code below uses autoplay feature but the slides are not auto-transiting. Any help would be appreciated.

    const sliderSettings = {
      'dots': true,
      'infinite': true,
      'autoplay': true,
      'autoplaySpeed': 5000,
      'speed': 10,
      'slidesToShow': 4,
      'slidesToScroll': 4,
      'swipe': true,
      'draggable': false,
      'arrows': true,
      'responsive': [

[2016-04-26 06:13] #303 closed

[2016-04-27 06:28] kairi1227 commented on #285
please fix  ~~~~

[2016-04-27 11:42] DimaRGB commented on #47
+1

[2016-04-27 14:00] Trevoke opened #304 "Sliding towards left image does not render image progressively"
If you slide towards the image to the right, you get to see it show up as you slide.

If you slide towards the image to the left, you see a blank image until it snaps into place, at which point it renders the image.

It would be nice if we could see that image as we slide.

[2016-04-28 08:05] PrzemyslawM opened #305 "Component stops working when div container with column-count attribute is used."
When the carousel is rendered within div with set column-count attribute, then it stops working.

Sample code:

[code]

}

[2016-04-29 21:17] akhayoon commented on #299
@akiran This issue seems to be only happening in Chrome. Can you confirm this? In the demo https://jsfiddle.net/kirana/20bumb4g/ the image should not load most of the time until you resize.

[2016-05-02 11:14] webaifei opened #306 "in the ios , after several swipes , it do not work any more!"
in the ios, when I swipe some times, it does't work. I guess you do not use ' e.preventDefault()'.

[2016-05-03 11:39] #285 closed

[2016-05-03 21:45] bhuten commented on #111
It worked for me finally and here is what I did:
`<Slider {...settings} prevArrow={PrevArrow}>
</Slider>`

Make sure to import your **PrevArrow** component. And in your **PrevArrow** component, return the following:
`<IconButton className="slickArrowPrev" onClick={this.props.onClick} iconClassName="fa fa-chevron-circle-left" />`

Similarly you should have **NextArrow** component. Styling the arrow

[2016-05-04 17:16] rafaelteixeira commented on #217
This a very specific use case, so I'm closing this issue.

[2016-05-04 17:16] #217 closed

[2016-05-05 18:21] charlesbodman commented on #50
Much needed

[2016-05-08 03:19] chrischen opened #310 "Encountered two children with the same key warning"
Encountered two children with the same key, `.$.$1`. Child keys must be unique; when two children share a key, only the first child will be used.

It keeps showing this error when mounted and also when changing slides. React 15.0.1, Chrome 50.0.2661.94.

[2016-05-08 03:30] akiran commented on #310
Can you give me code snippet to replicate this issue

[2016-05-08 03:33] chrischen commented on #310
`  render() {
    let settings = {
      dots: false,
      infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1
    };

    // const childElements = this.renderResults();
    // const childElements = (<div>Test1</div><div>test2</div>);

      return (
        <Slider {...settings}>
        <div key="a1"><h3>1</h3></div>
        <div key="a2"><h3>2</h3></div>
      </Slider>
      );
  }

[2016-05-08 21:33] emartini commented on #310
I have the same issue in a project I've started today, the strange thing is I've just copied the code from another working project. The only difference I can notice between both projects is on installed dependencies inside the react-slick `node_modules` directory,  In one the slick-carrousel version points to 1.5.9 and the other to 1.6.0, which was released last friday. According to the current [p

[2016-05-09 05:39] liesislukas commented on #310
i have same issue with `v0.12.1` downgrading to `0.12.0` solves the problem.

package.json:
[code]

[2016-05-09 06:02] zhuxindaba opened #311 "How to scroll vertically？"
i use the vertical property,but it still scrolls crosswise
[code]

[2016-05-09 06:32] akiran commented on #310
I will fix it today

[2016-05-09 10:59] rafaelteixeira commented on #296
@kennetpostigo is it working in your project? It's not on mine.

I get this error:

[2016-05-09 19:26] tuxjs commented on #111
I have tried diferent implemtations without any results,here is my code

`import React from 'react';
import Slider from 'react-slick';

const CustomArrow= React.createClass({
  render: function(){
    return(<span className="icon-angle-left"></span>)
  }
});

export default class Gallery extends React.Component {
  constructor(props) {
    super(props);
  }
  render() {

    const sliderSettings =

[2016-05-10 00:39] corbanbrook commented on #310
Getting the same problem, It looks to me like the duplicate key warnings might be from the extra slides that get created to do the infinite looping.

[2016-05-10 08:30] marcusbrose opened #312 "Encountered two children with the same key, when infinite=true"
It seems like the 1st and last slide are added rendered twice.

[2016-05-10 08:41] Noel-bk commented on #312
Yeah. I have same problem, too.. 😭

[2016-05-10 09:36] #312 closed

[2016-05-10 10:05] akiran commented on #312
checkout 0.12.2 version

[2016-05-10 10:06] akiran commented on #310
checkout 0.12.2 version

[2016-05-10 10:12] Noel-bk commented on #312
Thank you very much. You're my lifesaver!! 👍

[2016-05-10 11:52] marcusbrose commented on #312
thanks!

[2016-05-10 21:26] neardark commented on #311
Looks like the vertical setting isn't supported yet. See issue #58

[2016-05-11 19:46] rhythnic commented on #291
Using cloneElement is not compatible with the documentation's proposed method of using custom arrow buttons.  cloneElement will not work on a React Class, only on a React Element.  Either the docs should specify passing in an element, instead of a class, or createElement should be used.

[2016-05-11 20:47] rhythnic commented on #291
I like the cloneElement approach.  Passing in elements is also how Material-UI works.  The docs should give an example, something like:
[code]

[2016-05-12 05:55] sorahn commented on #291
@Azael05x I ended up with something like this.

[code]

[2016-05-12 09:04] kasperkronborg commented on #111
@tuxjs I'm getting the same thing, and I'm following the example given by the author in the README.

A clear working example would be great.

[2016-05-12 16:41] akiran commented on #111
Check this https://github.com/akiran/react-slick/blob/master/docs/demos.jsx#L447-L485

[2016-05-14 13:17] prrraveen commented on #141
+1

[2016-05-17 14:58] orthes commented on #312
The same problem here even on 0.12.2:

[2016-05-17 22:40] Morganjackson commented on #299
Did you find a fix for this? same thing happens to my component and the demos/playground.

[2016-05-18 04:06] bethinner opened #314 "the component in slick do not fill the space"
![image](https://cloud.githubusercontent.com/assets/9563056/15347082/c758ba1c-1cf0-11e6-8e27-8da700567f25.png)
the red space in picture. how to fix it

[2016-05-18 04:33] akiran commented on #314
Set width of images as well to make width of all images same

[2016-05-18 05:45] bethinner commented on #314
@akiran I had set style={{height:"200",width:"100%"},but still the same

[2016-05-18 11:05] 7091lapS commented on #306
I'm having the same issue on ios

[2016-05-18 17:19] jamesfzhang commented on #312
@orthes I noticed this error as well. I got rid of it by removing the `key` attributes from the `<Slider>`'s children.

[2016-05-18 20:10] rochestb commented on #296
![hd-8h3gUKPZKrvm8](https://media2.giphy.com/media/8h3gUKPZKrvm8/giphy.gif)

[2016-05-18 20:29] adamclark64 commented on #296
This was not working originally but set up with react 15.0.1 as a peerDependency and using react-slick 0.9.2, I was able to get it running

[2016-05-19 07:38] shprink opened #315 "Page Count"
Hi,

is it possible to get the total number of pages and current page so we could display pagination?

`page: 3/10`

Thanks

[2016-05-19 07:53] akiran commented on #315
You can use beforeChange/afterChange methods to get the current slide number.
You can compute total pages based on you slide count

[2016-05-19 07:53] #315 closed

[2016-05-19 08:12] shprink commented on #315
actually if you use the responsive layout, the number of page changes.

You must have this data internally so it would be good to share it through afterChange event don't you think?

want a PR?

[2016-05-19 09:59] akiran commented on #315
Even in responsive, it changes according to settings you pass.
So, You will have that info already

[2016-05-19 14:58] kennetpostigo commented on #296
@rafaelteixeira Yes it seems to be working for me.

[2016-05-19 18:06] frg commented on #187
+1 For fix. This has really been bugging me lately :/

[2016-05-19 19:33] davidwadge opened #317 "slickGoTo with infinite variableWidth images"
I would like the slickGoTo image to appear to the left or the centre of the users' screen when multiple images of different widths are displayed. Is this at all possible? My current settings are:

            infinite: true,
            speed: 500,
            arrows: true,
            adaptiveHeight: true,
            draggable: true,
            variableWidth: true,
            slickGoTo: this.p

[2016-05-19 23:49] foriacus commented on #228
+1

[2016-05-22 21:41] dbuarque commented on #50
+1

[2016-05-23 05:55] eternalsky opened #318 "pauseOnHover is not updated in readme doc"

[2016-05-25 01:59] HriBB commented on #186
Having some problems with slickGoTo as well ... I use key bindings to go next/prev by updating slickGoTo. It used to work with v0.9, but stopped working with v0.12.2. Some quick debugging lead me to    `react-slick/lib/mixins/helpers.js`

[code]

Simply setting `waitForAnimate: true` fixed the rendering problem. Hope it helps someone.

Now I have a problem with animation using slickGoTo. Sometimes

[2016-05-25 02:03] HriBB commented on #295
Try setting `waitForAnimate: false`

[2016-05-27 07:17] sanchitgangwar commented on #263
Facing the same problem.

[2016-05-28 14:35] jabhishek opened #319 "Slider stays on same page if slides items are changed"
The subject line may not make sense, but I will try to explain the scenario in detail. See this example [fiddle](https://jsfiddle.net/jain208/20bumb4g/630/) to see the issue in action.

In this demo, initially the slider shows 20 slides (3 per page). The idea is that if you click the button, it will generate a random number, which would be the new number of slides. The code is fairly simple and se

[2016-05-30 09:57] fyyyyy commented on #263
Wrote my own carousel to fix this. Was much faster than customizing this ;)

[2016-05-30 10:15] sanchitgangwar commented on #263
@fyyyyy Is it open-source and free? :)

[2016-05-31 19:30] Trevoke opened #321 "If there's a single image in the slider, the dot does not show"
I can't tell if this is a bug or a feature, but I'm in a situation where I need the dot to show even if there's only a single image in the slider, so for my use case, it's a bug :)

[2016-06-02 06:16] tk1024 commented on #47
+1

[2016-06-02 13:22] davincho commented on #246
+1 I have the same problem.

[2016-06-02 22:58] JBrownie77 commented on #299
Same issue in Safari. It renders about 1px height until I resize the browser. Then it full loads

[2016-06-03 14:46] ozluy opened #322 "Inline style"

[2016-06-03 14:48] ozluy opened #323 "Inline style"
Did you think about inline style instead of css file import?

[2016-06-03 19:07] petesaia commented on #312
This is still an issue. @jamesfzhang's suggestion works but React throws a warning about not supplying a key which is a little annoying.

[2016-06-05 14:06] MitchWeiss opened #324 "Slider within container display: table"
I am trying to put my slider within a container which is being displayed as a table using CSS. This seems to completely confuse the slider and mess up its ability to set its width.

Setting an inner container to display: block doesn't seem to mitigate the problem.

jsfiddle: https://jsfiddle.net/fqh42hk2/1/

Any ideas why this is happening and how it can be overcome?

[2016-06-06 19:02] Yoanns commented on #252
@akiran @nackjicholson
Guys, I believe I found out what the issue is since I have been dealing with the exact same error. @akiran in your example, your images are loaded as soon as your react component is call. However, in React, there are situations were the data is set empty in an initial state and then when componentDidMount() fires there is an ajax call or or any other way you want to use to s

[2016-06-07 02:00] MitchWeiss commented on #273
@Ajar-Ajar did you ever find a solution for isomorphic rendering?

[2016-06-07 02:03] MitchWeiss commented on #324
Hey @akiran, any advice to make this work?

[2016-06-07 10:44] Ajar-Ajar commented on #273
Isomorphic / universal React web-apps are becoming the standard
To avoid a `ReferenceError: window is not defined`
I'd suggest to wrap all dependencies to window with

[code]

[2016-06-07 18:35] gkrinc opened #325 "initialSlide not working"
With the follow setup you can see that the image in slide 1 isn't being displayed, and the slider is in the wrong position. As soon as you start moving the carousel, the image is slide 1 is displayed and the carousel jumps to the correct position:

[https://jsfiddle.net/6a98owdb/](https://jsfiddle.net/6a98owdb/)

It seems like something isn't being calculated correctly when the carousel is initial

[2016-06-07 20:29] iamricky opened #326 "CommonJS/ES2015 support?"
Does react-slick support ES6 syntax for `import` calls? If not, are there plans to implement proper CommonJS/ES2015 support in the near future?

e.g. `import Slider from 'react-slick'` in lieu of `const Slider = require('react-slick');`

[2016-06-08 20:25] goopscoop opened #327 "Responsive slides width grows exponentially at breakpoint"
When working with the responsive feature, once I hit a breakpoint, the width of the slides explodes. See screenshot:

<img width="839" alt="appcenter_-_home" src="https://cloud.githubusercontent.com/assets/11171347/15909603/dd90407a-2d7b-11e6-92e5-a633c49d392d.png">

This causes all of my slides to get pushed out of the view. Here's a look at my code:

[code]

[2016-06-08 21:02] juliankatz1991 commented on #270
I need this as well!

[2016-06-08 23:28] bdesilva-appneta opened #328 "Cannot render dynamic slides"
Hi,

I've tried to render dynamic slides by doing this:

` const slides = this.renderSlides(this.props.metadata);`
` return (
<Slider {...settings}>
    { slides }
</Slider>);
`
` renderSlides(meta) {
      return meta.map((data) => (
          <PreviewSlide key={data.step} timestamp={data.timestamp}
            screenshot={data.screenshot} />
      ));
  }`

However, the slides don't render, howe

[2016-06-09 14:41] diessica commented on #49
Is it on the roadmap?

[2016-06-09 20:34] vgoklani commented on #323
i second that!

[2016-06-10 08:11] akiran commented on #322
Duplicate of #323

[2016-06-10 08:11] #322 closed

[2016-06-10 14:06] selfagency commented on #141
+1 and not a fan of abandonware

[2016-06-10 15:01] miraage opened #329 "Internal property slideCount somehow turns into NULL"
`this.state.slideCount` during `null` value causes `slideIndex` appear as `-1`, which breaks the component.

[code]

react 15.1.0
react-slick 0.12.2

Any ideas?

[2016-06-10 19:49] #327 closed

[2016-06-10 20:06] Streemo commented on #299
<img width="1280" alt="screen shot 2016-06-10 at 3 59 32 pm" src="https://cloud.githubusercontent.com/assets/8839346/15977130/e6bb8556-2f24-11e6-907c-a866cab18212.png">

I am also getting the height rendering to 1px for slides. It seems slightly unpredictable. Only after a resize, or a change in css, does the height revert to original. All images have the same height. Is there a fix for this? I've

[2016-06-11 08:53] aamirbhat opened #330 "server data coursel not working"
react-slick carousel not working with server data

[2016-06-13 12:59] nielsdB97 opened #331 "Button gets disabled too early"
https://jsfiddle.net/eeky9n4a/

Press the _next_ button until it stops working.
The next button is being disabled before the last picture reaches the 'slick-center' position.
I looked at the code and it seems like this problem lies in arrows.jsx
[code]
When I change it to this
[code]
it works, but then it breaks other scenario's, for example when you have less than 6 slides.

It would be great if

[2016-06-15 09:42] pavanmehta91 opened #336 "focusOnSelect Not working"
Despite setting is to true it's not working.
Is this a known issue?

[2016-06-15 15:39] kaela commented on #211
You should add pauseOnHover to the property list on the readme

[2016-06-15 22:43] alexanderfrey commented on #330
why ? what is the error message ?

[2016-06-15 22:44] alexanderfrey commented on #326
it does

[2016-06-16 00:22] bsadecki commented on #136
+ 1

[2016-06-16 14:19] iamricky commented on #326
@alexanderfrey Strange it didn't before but now it does. I ended up using another slider but this is good to know for future reference.

[2016-06-16 14:52] #326 closed

[2016-06-17 19:59] mkralla11 opened #337 "Slider completely stops working when re-rendering multiple times"
After rendering multiple times, even if no settings were changes for the react-slick slider, the slider completely stops working. No button clicks, no swipes work, and the slider is completely stopped. Here is the problem occuring:

https://jsfiddle.net/20bumb4g/727/

To reproduce, click the next and/or previous buttons until you notice that nothing is working anymore. All the code is doing is re-

[2016-06-20 14:32] NeroCor commented on #328
Same for me,
I can not put other React Components in the Slider e.g.:

`        <Slider {...settings}>
          {this.items.map(item => {
             return (
             <CarouselItem item={item}></CarouselItem>
             )})}
        </Slider>`

They get rendered, but missing attributes like: `data-index`, `class` and `style`

[2016-06-21 11:26] khacthanh opened #338 "new mode carousel"
I really love this carousel and this is not issues. I just need to new mode display that show better on mobile app like this link I demo

https://drive.google.com/file/d/0B340TdZgUeBFdE5fWmhsUVNFUnM/view

I tried to modify css of Center Mode but not success, so I hope you add more setting for this

Thanks!

[2016-06-21 12:40] maxfriedmann commented on #337
I get the same result when I update a component while the slide animation is being done. In one of my projects I have some translated text on a sliding box, when I change the language while it is sliding, it stops sliding and the buttons don't work anymore.

Maybe this is the same error?

Your Fiddle doesn't work anymore unfortunately...

[2016-06-22 13:54] mkralla11 commented on #337
Do you mean the fiddle doesn't load or you can't actually use the slider in the fiddle? Anyways, I'm pretty sure you're having the same issue, as soon as you setState a few times on any parent component or the given slider wrapper component itself, all slider functionality breaks: no sliding, no buttons work. I recently switched to https://github.com/kenwheeler/nuka-carousel but that slider has it

[2016-06-23 09:47] dalpo commented on #301
I encountered the same issue.

@penguin3069 I downgraded to the `v0.10.0` and it seems to work.

[2016-06-24 08:35] pokka opened #340 "Consider the non-integral `slidesToShow` case: Should these be merge to master?"
Hello:

While the `slidesToShow` is a numerical like:

[code]

I need to Turn:
![2016-06-24 16 15 25](https://cloud.githubusercontent.com/assets/524319/16332158/16f1e5dc-3a27-11e6-8489-a8a385712227.png)

Into:

![2016-06-24 16 09 41](https://cloud.githubusercontent.com/assets/524319/16332195/513be30a-3a27-11e6-8d67-5fb82986a02d.png)

Maybe it's related to the `rtl`, but I haven't find a way to get

[2016-06-24 14:01] vdv73rus opened #341 "Bug with infinite=true and slidesToScroll=1"
I've inited slider with this settings:

[code]

And when I press 'prevArrow' button, it slides something far to right instead 1 slide left.
But if I set `slidesToScroll` parameter to value bigger than 1 — everything is OK.

[2016-06-24 14:09] isafin commented on #341
+1

[2016-06-24 14:16] alexander37137 commented on #341
+1

[2016-06-24 18:27] iamricky opened #342 "Center Mode snaps into place."
Is there a fix/workaround for preventing the slider from snapping into place, when using Center Mode?

[2016-06-24 18:48] Themandunord commented on #325
+1

[2016-06-27 01:35] TylorShin opened #344 "zero height(1px) image(GIF) problem with lazyLoad and adaptiveHeight"
When I turn on the both lazyLoad and adaptiveHeight options,
sometimes the image(GIF) has 1px height.

Then, I click somewhere in carousel area, it re-render image properly.

I think that it occurs because the image(GIF) is not fully loaded yet.
(this is the reason why this happens 'sometimes')

If I turn off one of the lazyLoad or adaptiveHeight option everything works fine.

Could you fix this p

[2016-06-29 02:39] ruscoder commented on #312
I have the same problem as @dalpo when I use `infinite: true` option and keys for slides.

[2016-06-29 15:59] alexanderfrey commented on #312
Same issue here.

[2016-06-29 22:32] psimyn opened #345 "phantomjs package is deprecated"
both phantomjs and phantomjs-prebuilt are included in package.json, which breaks build.

[2016-06-30 11:56] patotoma commented on #325
+1

[2016-06-30 23:03] psimyn commented on #321
I think since it's false by default, then `dots: true` should always obey. Created PR

[2016-07-01 12:02] manimuthukumar6 commented on #344
Similar Issue can be reproduced in fiddle example. Slider container calculating incorrect height because of images not yet loaded.

The partial solution is min-height for fixed container but Any fix for the dynamic container ?

https://jsfiddle.net/kirana/20bumb4g/

![image](https://cloud.githubusercontent.com/assets/417217/16520953/40290536-3fb1-11e6-917e-da07ac0170d2.png)

[2016-07-01 14:16] alexjhannan opened #348 "Importing the Slider component causes Mocha tests to fail"
I'm building unit tests for a React project right now, and upon importing a component that uses the Slider, this message is spat back out:

[code]

All test suites for all files fail to initiate as a result. If anyone has any suggestions, please let me know, thanks!

[2016-07-01 17:03] dsteinbach commented on #291
The example in the docs still doesn't work or isn't clear. If I pass the react class as the nextArrow prop it uses default nextArrow (`nextArrow: MyNextArrow`), and if I pass react element (`nextArrow: <MyNextArrow />`) I get all the invariant errors as @sorahn did in his screenshot.

[2016-07-01 18:29] chrishinrichs commented on #348
+1

[2016-07-01 18:30] dsteinbach commented on #310
I still see this issue is 0.12.2 :(

[2016-07-03 23:55] psimyn commented on #344
the usual solution I see for this is calculating the height again in the onload of images

[Here](https://github.com/kenwheeler/slick/blob/master/slick/slick.js#L1663) is what the original Slick uses, recalculates height in image.onload if adaptive height is enabled. Could probably do a similar thing here

[2016-07-04 03:22] psimyn commented on #348
Duplicate of https://github.com/akiran/react-slick/issues/93

You can stub it out, shown in this comment
https://github.com/WickyNilliams/enquire.js/issues/82#issuecomment-26990494

[2016-07-04 04:24] psimyn commented on #319
you could use the `slickGoTo` prop after changing slides.

I think trying to handle this automatically could get complex (a lot of cases where the currently visible ones don't change but others do)

[2016-07-04 09:48] pavanmehta91 opened #349 "Implementation of FocusOnSelect"
I want to implement FocusOnSelect for my use in react-slick. Can anybody guide me through this.
I'd used the method to update the state var onActive and apply css accordingly. It goes work but at times it makes the slick slider stop and it stops sliding.
![myslick](https://cloud.githubusercontent.com/assets/10721301/16556932/6ba3fd42-41fa-11e6-8fa8-c95c1804caa1.jpg)

[2016-07-05 09:22] jvmartins commented on #325
+1

[2016-07-05 10:43] TylorShin commented on #344
@psimyn:
nice comment.
then, do I have to use refs or findDOMNode?

[2016-07-05 14:16] jsiebern commented on #310
Same here :(
![2016-07-05_1616](https://cloud.githubusercontent.com/assets/6476589/16587631/de1f6e2a-42cb-11e6-9aa8-df981b9c7236.png)

[2016-07-05 23:01] psimyn commented on #344
I think calling [adaptHeight](https://github.com/akiran/react-slick/blob/529873813db21bc9c793707e9f1c3913401f8456/src/mixins/helpers.js#L66) will do that for you

[2016-07-05 23:57] magicspon opened #350 "Can't pass props to children"
Hello,

I'm having some issues passing props down to the child elements...

the only props on the slide items are:
[code]

this is my code

[code]

any thoughts?

thanks

[2016-07-06 00:02] magicspon commented on #350
must have been doing something dumb somewhere... it's working now!

[2016-07-06 00:02] #350 closed

[2016-07-06 03:28] josephktcheung commented on #328
@NeroCor @bdesilva-appneta I had this issue as well, and fixed it by wrapping the React Component with `div` e.g.:

`<Slider {...settings}> {this.items.map(item => ( <div><CarouselItem item={item}></CarouselItem><div> ))} </Slider>`

`data-index`, `class` and `style` will show up on that `div`. Slides are still dynamic, does this suffice?